
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 114.6rem;
}.about-us-3pB {
  background-color: #090d28;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .header-aJK {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #090d28;
    box-sizing: border-box;
    padding-left: 3.185rem;
    height: 6.3701rem;
    width: 114.6613rem;
    flex-shrink: 0;

    .gym-logo-1-VRH {
      width: 9.5551rem;
      height: 6.3701rem;
      position: relative;
      background-size: 125.698% 190.678%;
      background-position: -1.3879rem -2.0514rem;
      background-image: url('REPLACE_IMAGE:6dbe22f459da5d7afa6f625702a83c035d42e502');
      flex-shrink: 0;
      margin-right: 5.4942rem;
    }
    .home-hGT {
      font-size: 1.274rem;
      font-weight: 600;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.007rem 1.613rem 0rem 0rem;
      cursor: pointer;
      color: #ffffff;
      flex-shrink: 0;
    }
    .about-us-BhR {
      line-height: 1.2175;
      color: #ea377b;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.007rem 1.54rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 500;
    }
    .packages-75H {
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      cursor: pointer;
      font-size: 1.274rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.007rem 1.559rem 0rem 0rem;
      font-weight: 500;
    }
    .shop-EQo {
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.007rem 1.515rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 500;
    }
    .blog-xrb {
      margin: 0.007rem 1.615rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .contact-us-Vbd {
      font-size: 1.274rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.0075rem;
    }
    .auto-group-gvdy-SFy {
      box-sizing: border-box;
      padding: 1.593rem 3.185rem 1.593rem 5.435rem;
      width: 54.086rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .search-bar-CPZ {
        padding: 0.637rem 1.593rem 0.637rem 1.592rem;
        background-color: #1b1f3e;
        border-radius: 0.7963rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 2.3887rem;

        .search-82K {
          font-weight: 400;
          line-height: 1.2175;
          color: #6c6c6f;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.007rem 14.79rem 0rem 0rem;
          font-size: 1.274rem;
        }
        .search-outline-DpT {
          width: 1.911rem;
          height: 1.911rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .login-register-uhH {
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.007rem 1.062rem 0rem 0rem;
        font-size: 1.274rem;
      }
      .cart-icon-dNP {
        flex-shrink: 0;
        margin: 0rem 1.115rem 0rem 0rem;
        width: 2.7073rem;
        height: 2.7073rem;
        object-fit: contain;
        vertical-align: top;
      }
      .wishlist-icon-7HZ {
        flex-shrink: 0;
        margin-bottom: 0rem;
        width: 2.7073rem;
        height: 2.7073rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-y3zf-ogB {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.135rem 5rem 0rem 5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .about-us-KPd {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 5.1rem 2.254rem 3.334rem;
      width: calc(100% - 8.4335rem);
      height: 25.8407rem;
      display: flex;

      .auto-group-fsip-3Kd {
        margin-right: 14.5665rem;
        width: 40.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .about-us-no1 {
          line-height: 1.2175;
          color: #f5f5f5;
          font-size: 2.1628rem;
          font-weight: 600;
          position: absolute;
          left: 0;
          top: 0;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.8rem;
          height: 2.7rem;
        }
        .welcome-to-our-gym-where-fitness-meets-passion-and-every-drop-of-sweat-tells-a-story-of-dedication-our-gym-isnt-just-a-place-to-work-out-its-a-community-a-lifestyle-and-a-commitment-to-your-well-beingwe-are-committe-d-to-providing-a-safe-inclusive-and-inspiring-space-for-individuals-of-all-ages-and-fitness-levels-whether-youre-a-seasoned-gym-goer-or-just-starting-is-here-to-support-you-every-step-of-the-way-UQw {
          top: 2.6407rem;
          font-size: 1.4418rem;
          font-weight: 400;
          font-family: Montserrat, 'Source Sans Pro';
          height: 23.2rem;
          position: absolute;
          line-height: 2.0027875;
          color: #aeafb6;
          width: 40.8rem;
          left: 0;
        }
      }
      .rectangle-16-ByZ {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:ca03d2db7307a2f905233b6b395521e58deabdf1');
        flex-shrink: 0;
        margin-bottom: 0.3515rem;
        width: 40.8rem;
        height: 24.3rem;
        background-color: #d9d9d9;
        background-size: 100% 100%;
        border-radius: 0.6008rem;
      }
    }
    .why-choose-us-es9 {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 8.1rem 1.685rem 0rem;
      width: calc(100% - 8.1rem);
      display: flex;

      .rectangle-16-Aab {
        border-radius: 0.6008rem;
        flex-shrink: 0;
        width: 39.2904rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 16.4096rem;
        height: 27.2149rem;
        background-color: #d9d9d9;
        background-image: url('REPLACE_IMAGE:087dc62a28bf40f5e01cafbdae4f726db85e2b6f');
      }
      .auto-group-5ajb-goq {
        margin-top: 0.3rem;
        width: 40.8rem;
        height: 25.8rem;
        position: relative;
        flex-shrink: 0;

        .why-choose-us-S2K {
          position: absolute;
          left: 0;
          font-size: 2.1628rem;
          font-weight: 600;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          width: 19.7rem;
          height: 2.7rem;
          top: 0;
          line-height: 1.2175;
          color: #f5f5f5;
        }
        .welcome-to-our-gym-where-fitness-meets-passion-and-every-drop-of-sweat-tells-a-story-of-dedication-our-gym-isnt-just-a-place-to-work-out-its-a-community-a-lifestyle-and-a-commitment-to-your-well-beingwe-are-committe-d-to-providing-a-safe-inclusive-and-inspiring-space-for-individuals-of-all-ages-and-fitness-levels-whether-youre-a-seasoned-gym-goer-or-just-starting-is-here-to-support-you-every-step-of-the-way-XZZ {
          width: 40.8rem;
          position: absolute;
          left: 0;
          top: 2.6rem;
          color: #aeafb7;
          font-family: Montserrat, 'Source Sans Pro';
          height: 23.2rem;
          font-size: 1.4418rem;
          font-weight: 400;
          line-height: 2.0027875;
        }
      }
    }
    .thank-you-ph5 {
      margin-left: 3.1rem;
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
