
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.after-login-jju {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #090d28;
  width: 100%;
  overflow: hidden;

  .auto-group-vqh1-UhV {
    height: 72.6rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 4rem;
    width: 100%;

    .header-1hR {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 144rem;
      height: 8rem;
      display: flex;
      align-items: center;
      background-color: #090d28;
      box-sizing: border-box;
      padding-left: 4rem;

      .gym-logo-1-5xB {
        background-position: -1.743rem -2.5763rem;
        background-image: url('REPLACE_IMAGE:6dbe22f459da5d7afa6f625702a83c035d42e502');
        flex-shrink: 0;
        margin-right: 6.9rem;
        width: 12rem;
        height: 8rem;
        position: relative;
        background-size: 125.698% 190.678%;
      }
      .home-yGs {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #ea377b;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2rem;
      }
      .about-us-UDd {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        margin-right: 2rem;
        cursor: pointer;
        flex-shrink: 0;
      }
      .packages-oFu {
        cursor: pointer;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        margin-right: 2rem;
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .shop-w7D {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
      }
      .blog-g4o {
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .contact-us-175 {
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-5qkd-9UB {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 11.6rem 2rem 6.9rem;

        .search-bar-GYo {
          box-sizing: border-box;
          padding: 0.8rem 2rem;
          height: 100%;
          background-color: #1b1f3e;
          border-radius: 1rem;
          margin-right: 3.6rem;
          align-items: center;
          flex-shrink: 0;
          display: flex;

          .search-Bfm {
            margin-right: 18.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #6c6c6f;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .search-outline-i9u {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .group-39-S5u {
          margin: 0.3rem 2.6rem 0.3rem 0rem;
          width: 3.4rem;
          height: calc(100% - 0.6rem);
          cursor: pointer;
          flex-shrink: 0;

          .cart-icon-LBH {
            height: 100%;
            font-size: 1.6rem;
            color: #ffffff;
            white-space: nowrap;
            justify-content: center;
            width: 100%;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            align-items: center;
            background-color: #1b1f3e;
            border-radius: 1.7rem;
            font-weight: 500;
          }
        }
        .cart-icon-qdq {
          margin-right: 2.6rem;
          width: 3.4rem;
          height: 3.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .wishlist-icon-Ntf {
          width: 3.4rem;
          height: 3.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .banner-image-KJ7 {
      height: 50rem;
      position: absolute;
      left: 0;
      top: 7.9rem;
      background-color: #1b1f3e;
      width: 144rem;

      .sport-girl-1-r39 {
        position: absolute;
        left: 92.7rem;
        top: 0.9rem;
        object-fit: cover;
        vertical-align: top;
        width: 35.9rem;
        height: 47.5rem;
      }
      .rectangle-5-xby {
        height: 50rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 144rem;
      }
      .workout-with-me-W7h {
        font-family: Montserrat, 'Source Sans Pro';
        width: 39.7rem;
        height: 4.9rem;
        left: 23.2rem;
        top: 14.6rem;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2175;
        white-space: nowrap;
        position: absolute;
        letter-spacing: 0.2rem;
        color: #ffffff;
      }
      .fasterstronger-fight-to-the-end-buq {
        position: absolute;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        height: 2.5rem;
        left: 23.2rem;
        top: 20.3rem;
        font-size: 2rem;
        white-space: nowrap;
        width: 39.8rem;
      }
      .more-details-button-uvX {
        width: 15.8rem;
        font-family: Montserrat, 'Source Sans Pro';
        line-height: 1.2175;
        height: 5.2rem;
        font-size: 2rem;
        font-weight: 600;
        align-items: center;
        background-color: #ea377b;
        border-radius: 1rem;
        position: absolute;
        left: 23.2rem;
        display: flex;
        justify-content: center;
        top: 25.7rem;
        color: #ffffff;
        white-space: nowrap;
      }
    }
    .shippingpaymentexchangeservice-section-yfV {
      align-items: center;
      background-color: #ffffff;
      height: 24.9rem;
      position: absolute;
      left: 14.8rem;
      top: 47.7rem;
      overflow: hidden;
      box-sizing: border-box;
      padding: 2.6rem 3rem;
      width: 114.4rem;
      display: flex;
      column-gap: 3.2rem;

      .free-shipping-GPh {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 1.9rem 2.5rem 1.9rem;
        width: 24.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #ea377b;
        height: 100%;
        border-radius: 0.5rem;

        .shipping-icon-afH {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.1rem 1.6rem 0rem;
          width: 6rem;
          height: 4.8rem;
          object-fit: contain;
        }
        .free-shipping-hV1 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #090d28;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .contrary-to-popular-belief-ipsum-is-simply-random-Ejq {
          flex-shrink: 0;
          max-width: 20.9rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3575125;
          color: #4a4e68;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .instant-payments-XD9 {
        width: 24.7rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        flex-shrink: 0;
        padding: 3.5rem 1.9rem 2.5rem 1.9rem;
        align-items: center;
        border: solid 0.1rem #ea377b;
        box-sizing: border-box;

        .payment-icon-3xB {
          margin: 0rem 0.1rem 2rem 0rem;
          width: 5rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .instant-payments-z6j {
          margin-bottom: 0.8rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #090d28;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .contrary-to-popular-belief-ipsum-is-simply-random-iYX {
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 20.9rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3575125;
          color: #4a4e68;
        }
      }
      .exchange-return-bsD {
        height: 100%;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 2.3rem 0.95rem;
        width: 24.7rem;
        display: flex;
        border: solid 0.1rem #ea377b;
        flex-shrink: 0;

        .repeat-icon-jCj {
          margin: 0rem 0rem 1rem 0.1rem;
          width: 6rem;
          height: 6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .exchange-return-Fwm {
          text-align: center;
          font-size: 2rem;
          line-height: 1.3575125;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          font-weight: 500;
          color: #000000;
          white-space: nowrap;
        }
        .contrary-to-popular-belief-ipsum-is-simply-random-C6K {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3575125;
          color: #4a4e68;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 20.9rem;
        }
      }
      .customer-service-6Sb {
        box-sizing: border-box;
        padding: 2.8rem 1.75rem 2.3rem 1.75rem;
        height: 100%;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 24.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #ea377b;

        .hours-icon-D1R {
          margin: 0rem 0rem 1.5rem 0.1rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .customer-service-vAj {
          font-size: 2rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          line-height: 1.3575125;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
        }
        .contrary-to-popular-belief-ipsum-is-simply-random-esR {
          font-size: 1.6rem;
          color: #4a4e68;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.2rem;
          max-width: 20.9rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.3575125;
        }
      }
    }
  }
  .explore-our-dynamic-training-programs-Wud {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.2175;
    color: #f5f5f5;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 4rem;
  }
  .auto-group-vvwu-38s {
    padding: 4rem 4rem 13.9rem 4rem;
    width: 100%;
    row-gap: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .training-program-list-xFq {
      column-gap: 5rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 51rem;
      display: flex;

      .auto-group-uwc7-J4o {
        width: 42rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .yoga-EDM {
          margin-bottom: 4rem;
          box-sizing: border-box;
          height: 23.5rem;
          background-size: 100% 100%;
          padding: 7.9rem 10.1rem;
          width: 100%;
          background-color: #d9d9d9;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:da3d2c3581d0818a330f663325a82811def309df');
          border-radius: 1rem;
          flex-shrink: 0;

          .yoga-Aco {
            font-size: 3.6rem;
            font-weight: 600;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 0.5rem;
            background-color: rgba(74, 78, 104, 0.5500000119);
            line-height: 1.2175;
            display: flex;
            height: 100%;
          }
        }
        .zumba-phM {
          padding: 7.9rem 10.1rem;
          background-color: #d9d9d9;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          height: 23.5rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:e97058845a832bc702e97612658572c2b34324c9');

          .zumba-mMh {
            font-weight: 600;
            background-color: rgba(74, 78, 104, 0.5500000119);
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            font-size: 3.6rem;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .auto-group-p1hy-STq {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 42rem;
        height: 100%;
        align-items: center;

        .fitness-o3V {
          margin-bottom: 4rem;
          box-sizing: border-box;
          width: 100%;
          background-position: center;
          border-radius: 1rem;
          padding: 7.9rem 10.1rem;
          height: 23.5rem;
          background-color: #d9d9d9;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:58326aff15a7e6c8f45e6282127d426d660fb5a1');
          flex-shrink: 0;

          .fitness-vto {
            border-radius: 0.5rem;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: rgba(74, 78, 104, 0.5500000119);
            width: 100%;
            height: 100%;
            font-size: 3.6rem;
            font-weight: 600;
            white-space: nowrap;
          }
        }
        .workout-bzw {
          flex-shrink: 0;
          box-sizing: border-box;
          height: 23.5rem;
          background-color: #d9d9d9;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:117b977e84451e9c671dc909a73acb60dcbf5ca9');
          padding: 7.9rem 10.1rem;
          width: 100%;
          background-repeat: no-repeat;
          border-radius: 1rem;

          .workout-x4o {
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-weight: 600;
            line-height: 1.2175;
            background-color: rgba(74, 78, 104, 0.5500000119);
            border-radius: 0.5rem;
            font-size: 3.6rem;
            color: #f5f5f5;
            white-space: nowrap;
          }
        }
      }
      .auto-group-v7bu-cv3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 42rem;
        height: 100%;
        align-items: center;

        .cardio-xj1 {
          margin-bottom: 4rem;
          box-sizing: border-box;
          padding: 7.9rem 10.1rem;
          width: 100%;
          height: 23.5rem;
          border-radius: 1rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:4a82fc52da665877a0dff972a315887223377a10');
          flex-shrink: 0;

          .cardio-WEj {
            font-size: 3.6rem;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            justify-content: center;
            background-color: rgba(74, 78, 104, 0.5500000119);
            height: 100%;
            font-weight: 600;
            color: #f5f5f5;
            white-space: nowrap;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            width: 100%;
          }
        }
        .bodybuilding-CNT {
          flex-shrink: 0;
          padding: 7.9rem 3.8rem;
          width: 100%;
          background-size: 100% 100%;
          border-radius: 1rem;
          background-image: url('REPLACE_IMAGE:4b11365211289e892332a3d82fb6674079a3366c');
          box-sizing: border-box;
          height: 23.5rem;
          background-repeat: no-repeat;
          background-position: center;

          .bodybuilding-Khy {
            border-radius: 0.5rem;
            width: 100%;
            color: #f5f5f5;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: rgba(74, 78, 104, 0.5500000119);
            height: 100%;
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
    }
    .category-nLf {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .category-wzF {
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 105.2rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2175;
      }
      .see-all-HoD {
        font-weight: 400;
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 3.2rem;
      }
    }
    .category-list--q43 {
      column-gap: 5.2rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 21rem;
      display: flex;

      .protein-nutrition-NZm {
        padding: 2rem 3.8rem 1.9rem 3.8rem;
        height: 100%;
        align-items: center;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #1b1f3e;

        .protein-nutrition-2-6kf {
          height: 14.1rem;
          position: relative;
          background-size: 151.111% 100%;
          background-position: -3.5163rem 0;
          background-image: url('REPLACE_IMAGE:7b6c4689822c31ec7516d033a1281a3191cedbb6');
          flex-shrink: 0;
          width: 14.1rem;
        }
        .protein-nutrition-of5 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .sports-outfit-7Qs {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 7.3rem 1.9rem 7.3rem;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        background-color: #1b1f3e;
        border-radius: 0.5rem;
        position: relative;
        align-items: center;
        display: flex;

        .sports-outfit-1-efh {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 14.1rem;
          height: 14.1rem;
        }
        .sports-outfit-o2o {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .sports-bags-vdD {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 8rem 1.9rem 7.3rem;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        border-radius: 0.5rem;
        position: relative;
        align-items: center;
        display: flex;
        background-color: #1b1f3e;

        .sports-bags-1-fao {
          margin-left: 0.7rem;
          width: 14.1rem;
          height: 14.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .sports-bags-owu {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.3rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #f5f5f5;
        }
      }
      .gym-accessories-wHR {
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        background-color: #1b1f3e;
        flex-direction: column;
        padding: 2rem 5rem 1.9rem 4.9rem;
        overflow: hidden;
        position: relative;
        display: flex;

        .gym-accessories-1-Uo9 {
          margin-left: 0.1rem;
          width: 14.1rem;
          height: 14.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .gym-accessories-ps1 {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #f5f5f5;
        }
      }
    }
    .new-product-Z3u {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .new-product-KYs {
        margin-right: 96.4rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .see-all-3Dy {
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
    .new-product-list-9H1 {
      display: flex;
      column-gap: 4.4rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 53.9rem;

      .gym-t-shirt-Hu1 {
        padding: 5.2rem 8.7rem;
        width: 42.4rem;
        height: 100%;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #d9d9d9;
        box-sizing: border-box;
        position: relative;
        display: flex;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .gym-t-shirt-1-pe3 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 25rem;
          height: 25rem;
        }
        .gym-t-shirt-Mts {
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .item-25000-JZD {
          margin: 0rem 0rem 1.9rem 0.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-4-pGf {
          font-weight: 500;
          white-space: nowrap;
          display: flex;
          background-color: #ea377b;
          flex-shrink: 0;
          margin: 0 0.8rem;
          width: calc(100% - 1.6rem);
          cursor: pointer;
          font-size: 3.2rem;
          color: #f5f5f5;
          border-radius: 1rem;
          height: 6.7rem;
          line-height: 1.2175;
          align-items: center;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
        }
      }
      .half-sleeve-t-shirt-t1d {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 5.2rem 9.5rem;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 42.4rem;
        height: 100%;
        overflow: hidden;
        border: solid 0.1rem #d9d9d9;
        border-radius: 0.5rem;

        .half-sleeve-t-shirt-1-ouH {
          flex-shrink: 0;
          margin: 0rem 0.1rem 2.1rem 0rem;
          width: 22.1rem;
          height: 25rem;
          object-fit: cover;
          vertical-align: top;
        }
        .half-sleeve-t-shirt-6tP {
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 1.8rem 0rem;
          font-size: 2.4rem;
          font-weight: 500;
        }
        .item-30000-2X9 {
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.6rem;
          font-size: 2.4rem;
          font-weight: 500;
        }
        .frame-4-M3d {
          width: 100%;
          height: 6.7rem;
          line-height: 1.2175;
          color: #f5f5f5;
          display: flex;
          background-color: #ea377b;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 500;
          justify-content: center;
          border-radius: 1rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
        }
      }
      .sleeve-less-t-shirt-pT1 {
        box-sizing: border-box;
        padding: 5.2rem 8.7rem;
        height: 100%;
        position: relative;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 42.4rem;
        overflow: hidden;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #d9d9d9;

        .sleeve-less-t-shirt-1-XMR {
          height: 25rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 25rem;
        }
        .sleeve-less-t-shirt-4s9 {
          margin-bottom: 1.9rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-30000-opj {
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-4-LJs {
          font-weight: 500;
          line-height: 1.2175;
          margin: 0 0.8rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          width: calc(100% - 1.6rem);
          font-size: 3.2rem;
          white-space: nowrap;
          background-color: #ea377b;
          flex-shrink: 0;
          height: 6.7rem;
          color: #f5f5f5;
          display: flex;
        }
      }
    }
    .trending-product-ayu {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .trending-product-Yfq {
        font-weight: 600;
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 85.9rem;
        font-size: 3.6rem;
      }
      .see-all-59y {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .trending-product-list-naB {
      width: 100%;
      height: 53.9rem;
      display: flex;
      column-gap: 4.4rem;
      align-items: center;
      flex-shrink: 0;

      .black-gym-bag-vgP {
        border: solid 0.1rem #d9d9d9;
        flex-shrink: 0;
        width: 42.4rem;
        padding: 6.5rem 9.5rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 0.5rem;

        .black-gym-bag-1-rK9 {
          flex-shrink: 0;
          margin: 0rem 0rem 2rem 0.1rem;
          width: 22.5rem;
          height: 22.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .black-gym-bag-yuZ {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 1.8rem 0rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .item-255000-HQT {
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.5rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .frame-4-odh {
          font-size: 3.2rem;
          line-height: 1.2175;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 500;
          justify-content: center;
          background-color: #ea377b;
          border-radius: 1rem;
          width: 100%;
          display: flex;
          align-items: center;
          height: 6.7rem;
          color: #f5f5f5;
          white-space: nowrap;
        }
      }
      .best-gym-bag-GnB {
        padding: 6.5rem 9.5rem;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        border: solid 0.1rem #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 42.4rem;
        position: relative;
        align-items: center;
        display: flex;
        border-radius: 0.5rem;

        .best-gym-bag-1-Bu9 {
          margin: 0rem 0rem 2rem 0.3rem;
          width: 22.5rem;
          height: 22.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .best-gym-bag-WgX {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
        }
        .item-30000-SaB {
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.6rem;
          font-size: 2.4rem;
        }
        .frame-4-x2j {
          width: 100%;
          height: 6.7rem;
          font-size: 3.2rem;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.2175;
          font-weight: 500;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          background-color: #ea377b;
          border-radius: 1rem;
        }
      }
      .sleeve-less-t-shirt-SCo {
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #d9d9d9;
        box-sizing: border-box;
        padding: 6.8rem 9.5rem;
        width: 42.4rem;
        height: 100%;
        position: relative;
        border-radius: 0.5rem;
        flex-shrink: 0;
        overflow: hidden;
        align-items: center;

        .shoulder-bag-1-ig7 {
          flex-shrink: 0;
          margin: 0rem 0rem 2rem 0.1rem;
          width: 22.5rem;
          height: 22.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .shoulder-bag-Sc7 {
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .item-30000-aiK {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.6rem;
        }
        .frame-4-5uy {
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          width: 100%;
          height: 6.7rem;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          background-color: #ea377b;
          font-size: 3.2rem;
          font-weight: 500;
          align-items: center;
          border-radius: 1rem;
        }
      }
    }
    .trending-product-kmD {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .popular-product-X1H {
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 87.3rem;
      }
      .see-all-2ij {
        margin-top: 0.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .popular-product-list-A4F {
      height: 53.9rem;
      display: flex;
      column-gap: 4.4rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .whey-protein-mexico-6ib {
        width: 42.4rem;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        position: relative;
        align-items: center;
        display: flex;
        border: solid 0.1rem #d9d9d9;
        border-radius: 0.5rem;
        padding: 6.7rem 8.3rem 6.7rem 8.2rem;

        .whey-protein-mexico-1-QzB {
          width: 13rem;
          height: 22.1298rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 1.97rem 0.1rem;
        }
        .whey-protein-mexico-W1d {
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 2.4rem;
          font-weight: 500;
        }
        .item-255000-eNj {
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .frame-4-kAs {
          line-height: 1.2175;
          align-items: center;
          justify-content: center;
          color: #f5f5f5;
          white-space: nowrap;
          display: flex;
          background-color: #ea377b;
          flex-shrink: 0;
          margin: 0rem 1.2rem 0rem 1.3rem;
          width: calc(100% - 2.5rem);
          height: 6.7rem;
          font-size: 3.2rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          border-radius: 1rem;
        }
      }
      .vegan-protein-powder-PDq {
        flex-direction: column;
        box-sizing: border-box;
        padding: 6.5rem 7.5rem;
        width: 42.4rem;
        height: 100%;
        position: relative;
        display: flex;
        overflow: hidden;
        align-items: center;
        border: solid 0.1rem #d9d9d9;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .vegan-protein-powder-1-7vX {
          width: 22.5rem;
          height: 22.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.1rem 2rem 0rem;
        }
        .vegan-protein-powder-pa3 {
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 2.4rem;
        }
        .item-30000-A87 {
          margin: 0rem 0rem 1.9rem 0.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-4-tK1 {
          height: 6.7rem;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #ea377b;
          margin: 0 2rem;
          display: flex;
          justify-content: center;
          border-radius: 1rem;
          width: calc(100% - 4rem);
          line-height: 1.2175;
          color: #f5f5f5;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 500;
          white-space: nowrap;
          align-items: center;
        }
      }
      .organic-protein-powder-x3y {
        width: 42.4rem;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        border: solid 0.1rem #d9d9d9;
        box-sizing: border-box;
        padding: 6.7rem 6.5rem;
        display: flex;
        border-radius: 0.5rem;
        flex-shrink: 0;
        height: 100%;
        align-items: center;

        .organic-protein-powder-1-G4f {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.3rem 2rem 0rem;
          width: 22.5rem;
          height: 22.5rem;
        }
        .organic-protein-powder-BhR {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
        }
        .item-30000-8Mm {
          flex-shrink: 0;
          margin: 0rem 0rem 1.9rem 0.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-4-T99 {
          line-height: 1.2175;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1rem;
          height: 6.7rem;
          align-items: center;
          flex-shrink: 0;
          color: #f5f5f5;
          font-weight: 500;
          width: calc(100% - 6rem);
          font-size: 3.2rem;
          display: flex;
          justify-content: center;
          background-color: #ea377b;
          margin: 0 3rem;
        }
      }
    }
  }
}
