
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.checkout-6RV {
  flex-direction: column;
  background-color: #161a38;
  width: 100%;
  align-items: center;
  display: flex;

  .auto-group-3p5d-3Lj {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 1rem 14rem 0.9rem;
    width: 100%;
    align-items: center;

    .header-M6X {
      background-color: #090d28;
      flex-shrink: 0;
      margin-bottom: 19.9rem;
      width: 100%;
      height: 8rem;
      position: relative;
      overflow: hidden;

      .gym-logo-1-TfM {
        position: relative;
        left: 4rem;
        top: 0;
        background-size: 125.698% 190.678%;
        background-position: -1.743rem -2.5763rem;
        background-image: url('REPLACE_IMAGE:6dbe22f459da5d7afa6f625702a83c035d42e502');
        width: 12rem;
        height: 8rem;
      }
      .home-kPZ {
        white-space: nowrap;
        position: absolute;
        left: 22.9rem;
        font-weight: 600;
        color: #ea377b;
        font-family: Montserrat, 'Source Sans Pro';
        width: 5.3rem;
        height: 2rem;
        top: 3rem;
        font-size: 1.6rem;
        line-height: 1.2175;
      }
      .shop-rSb {
        height: 2rem;
        position: absolute;
        font-size: 1.6rem;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 4.8rem;
        left: 51.8rem;
        top: 3rem;
        font-weight: 500;
      }
      .blog-mpT {
        top: 3rem;
        font-size: 1.6rem;
        line-height: 1.2175;
        color: #ffffff;
        white-space: nowrap;
        width: 4.8rem;
        height: 2rem;
        position: absolute;
        left: 58.6rem;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .contact-us-pXq {
        font-family: Montserrat, 'Source Sans Pro';
        width: 10.6rem;
        font-weight: 500;
        line-height: 1.2175;
        left: 65.4rem;
        top: 3rem;
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
        height: 2rem;
        cursor: pointer;
        position: absolute;
      }
      .login-register-uZH {
        cursor: pointer;
        left: 116.4rem;
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        width: 14rem;
        height: 2rem;
        position: absolute;
        top: 3rem;
        white-space: nowrap;
      }
      .about-us-Ztj {
        width: 8.6rem;
        cursor: pointer;
        left: 30.2rem;
        font-size: 1.6rem;
        color: #ffffff;
        height: 2rem;
        position: absolute;
        top: 3rem;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .packages-fB5 {
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 500;
        color: #ffffff;
        width: 9rem;
        height: 2rem;
        top: 3rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 40.8rem;
      }
      .search-bar-NrB {
        height: 4rem;
        top: 2rem;
        align-items: center;
        padding: 0.8rem 2rem;
        width: 30.5rem;
        left: 82.9rem;
        display: flex;
        background-color: #1b1f3e;
        border-radius: 1rem;
        box-sizing: border-box;
        position: absolute;

        .search-tpX {
          color: #6c6c6f;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 18.6rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2175;
        }
        .search-outline-py5 {
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4rem;
        }
      }
      .cart-icon-LAj {
        left: 131.8rem;
        top: 2.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.4rem;
        height: 3.4rem;
        position: absolute;
      }
      .wishlist-icon-3aw {
        height: 3.4rem;
        position: absolute;
        left: 136.6rem;
        top: 2.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.4rem;
      }
      .header-P91 {
        box-sizing: border-box;
        width: 144rem;
        height: 8rem;
        display: flex;
        background-color: #090d28;
        padding-left: 4rem;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        align-items: center;

        .gym-logo-1-Jmm {
          width: 12rem;
          height: 8rem;
          position: relative;
          background-size: 125.698% 190.678%;
          background-position: -1.743rem -2.5763rem;
          background-image: url('REPLACE_IMAGE:6dbe22f459da5d7afa6f625702a83c035d42e502');
          flex-shrink: 0;
          margin-right: 6.9rem;
        }
        .home-QK1 {
          line-height: 1.2175;
          color: #ea377b;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .about-us-vHM {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .packages-4eT {
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .shop-1pb {
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .blog-ASb {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #ffffff;
        }
        .contact-us-WmM {
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .auto-group-ztoz-4Xy {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 11.6rem 2rem 6.9rem;
          height: 100%;

          .search-bar-CPH {
            display: flex;
            background-color: #1b1f3e;
            border-radius: 1rem;
            flex-shrink: 0;
            height: 100%;
            box-sizing: border-box;
            padding: 0.8rem 2rem;
            align-items: center;
            margin-right: 3.6rem;

            .search-Gtw {
              font-weight: 400;
              line-height: 1.2175;
              color: #6c6c6f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 18.6rem;
              font-size: 1.6rem;
            }
            .search-outline-R19 {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .cart-icon-Lto {
            color: #ffffff;
            align-items: center;
            justify-content: center;
            border-radius: 1.7rem;
            flex-shrink: 0;
            font-size: 1.6rem;
            width: 3.4rem;
            line-height: 1.2175;
            display: flex;
            margin: 0.3rem 2.6rem 0.3rem 0rem;
            font-family: Montserrat, 'Source Sans Pro';
            background-color: #1b1f3e;
            height: calc(100% - 0.6rem);
            white-space: nowrap;
            font-weight: 500;
          }
          .cart-icon-Cw1 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.6rem;
            width: 3.4rem;
            height: 3.4rem;
          }
          .wishlist-icon-khd {
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.4rem;
          }
        }
      }
    }
    .auto-group-uyv1-s1Z {
      flex-shrink: 0;
      margin: 0rem 12.5rem 0rem 12.6rem;
      width: calc(100% - 25.1rem);
      height: 93.6rem;
      position: relative;

      .billing-details-nuD {
        line-height: 0.8333333333;
        width: 25.3rem;
        height: 3rem;
        position: absolute;
        left: 0;
        top: 4.4rem;
        font-size: 3.6rem;
        font-weight: 500;
        letter-spacing: 0.144rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-830-4bq {
        top: 12.2rem;
        width: 47rem;
        height: 81.4rem;
        position: absolute;
        left: 0;

        .frame-829-1GB {
          display: flex;
          flex-direction: column;
          margin-bottom: 2.4rem;
          width: 100%;
          row-gap: 3.2rem;
          align-items: center;

          .frame-821-YX1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .first-name-7KD {
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-weight: 400;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              font-size: 1.6rem;
              color: #ffffff;

              .first-name-7KD-sub-0 {
              }
              .first-name-7KD-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #db4444;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .frame-803-Awh {
              position: relative;
              background-color: #ffffff;
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 100%;
              height: 5rem;
              overflow: hidden;
            }
          }
          .frame-822-J2K {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .company-name-Fy9 {
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .frame-803-C7h {
              height: 5rem;
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 100%;
            }
          }
          .frame-823-jdR {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .street-address-Ub1 {
              margin-bottom: 0.8rem;
              line-height: 1.5;
              white-space: nowrap;
              align-items: baseline;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;

              .street-address-Ub1-sub-0 {
              }
              .street-address-Ub1-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #db4444;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .frame-804-551 {
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 100%;
              height: 5rem;
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
            }
          }
          .frame-824-cqd {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .apartment-floor-etc-optional-xPh {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .frame-805-Hwm {
              height: 5rem;
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 100%;
            }
          }
          .frame-825-eGX {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .town-city-zbH {
              line-height: 1.5;
              color: #ffffff;
              display: flex;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              white-space: nowrap;
              align-items: baseline;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';

              .town-city-zbH-sub-0 {
              }
              .town-city-zbH-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #db4444;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .frame-806-Qf1 {
              position: relative;
              background-color: #ffffff;
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 100%;
              height: 5rem;
              overflow: hidden;
            }
          }
          .frame-826-APH {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .phone-number-jSP {
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              align-items: baseline;

              .phone-number-jSP-sub-0 {
              }
              .phone-number-jSP-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #db4444;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .frame-807-WLf {
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 100%;
              height: 5rem;
            }
          }
          .frame-827-1oD {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .email-address-nJB {
              align-items: baseline;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              display: flex;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.6rem;

              .email-address-nJB-sub-0 {
              }
              .email-address-nJB-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #db4444;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .frame-808-nxP {
              width: 100%;
              height: 5rem;
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
              border-radius: 0.4rem;
              flex-shrink: 0;
            }
          }
        }
        .frame-828-92F {
          margin-right: 1.9rem;
          width: calc(100% - 1.9rem);
          display: flex;
          align-items: center;

          .icon-checkbox-fmH {
            vertical-align: top;
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
          }
          .save-this-information-for-faster-check-out-next-time-buq {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .frame-836-XoV {
        width: 52.7rem;
        height: 52.1859rem;
        position: absolute;
        left: 64.3rem;
        top: 15.4rem;

        .auto-group-qya3-Th9 {
          box-sizing: border-box;
          padding-bottom: 3.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .frame-812-oW7 {
            margin: 0rem 10.714rem 3.2rem 0rem;
            width: calc(100% - 10.7141rem);
            height: 6.1859rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .gym-t-shirt-3-i7H {
              flex-shrink: 0;
              margin-right: 2.4rem;
              width: 6.1859rem;
              height: 6.1859rem;
              object-fit: cover;
              vertical-align: top;
            }
            .frame-809-8go {
              align-items: center;
              flex-shrink: 0;
              margin: 1.893rem 0rem 1.893rem 0rem;
              height: calc(100% - 3.7859rem);
              display: flex;

              .goldgym-ShV {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 21rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .item-999-AtP {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-817-sno {
            margin-bottom: 3.2rem;
            width: 42.3rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-816-R3d {
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 1.5rem;
              width: 100%;
              display: flex;

              .frame-815-aSK {
                margin-bottom: 1.6rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .frame-814-LRV {
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-bottom: 1.5rem;
                  width: 100%;
                  display: flex;

                  .frame-796-gET {
                    margin-bottom: 1.6rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .subtotal--SUX {
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 30.7rem;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #ffffff;
                    }
                    .item-999-nYP {
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #ffffff;
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                  .underline-v8o {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    opacity: 0.4;
                    width: 42.2rem;
                    height: 0.1rem;
                  }
                }
                .frame-795-SN3 {
                  margin-right: 0.1rem;
                  width: calc(100% - 0.1rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .shipping--ZBm {
                    color: #ffffff;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 31.4rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                  .free-Grs {
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                  }
                }
              }
              .underline-RUs {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                opacity: 0.4;
                width: 42.2rem;
                height: 0.1rem;
              }
            }
            .frame-794-a6s {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .total--jVZ {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 33.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
              }
              .item-999-Ui3 {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
              }
            }
          }
          .frame-835-cpF {
            margin: 0rem 10rem 3.2rem 0rem;
            width: calc(100% - 10rem);
            height: 2.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-818-jdy {
              height: calc(100% - 0.4rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.2rem 15.5rem 0.2rem 0rem;

              .radio-button-5Sw {
                flex-shrink: 0;
                margin-right: 1.6rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .bank-2d5 {
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .frame-834-MvF {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.14rem 0.14rem 0.14rem 0.21rem;

              .bkash-VWf {
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                margin: 0.42rem 1.22rem 0.42rem 0rem;
                height: calc(100% - 0.84rem);

                .image-32-dsm {
                  background-size: 128.997% 191.441%;
                  background-position: -0.548rem -0.7795rem;
                  background-image: url('REPLACE_IMAGE:bacbff99a8fc8e50822cb2d2d168e5d0e8bf7ea6');
                  width: 3.78rem;
                  height: 1.68rem;
                  position: relative;
                }
              }
              .visa-vM5 {
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                margin: 0.7rem 1.15rem 0.7rem 0rem;
                height: calc(100% - 1.4rem);

                .image-30-GQw {
                  width: 3.78rem;
                  height: 1.12rem;
                  object-fit: cover;
                  vertical-align: top;
                }
              }
              .mastercard-DLB {
                margin-right: 1.08rem;
                height: 100%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;

                .image-31-msV {
                  width: 3.92rem;
                  height: 2.52rem;
                  position: relative;
                  background-size: 100% 96.228%;
                  background-position: 0 0.0338rem;
                  background-image: url('REPLACE_IMAGE:6eefb61d27c754abac218d25d8ea4360de61f8e8');
                }
              }
              .nagad-gzT {
                flex-shrink: 0;
                margin: 0.35rem 0;
                height: calc(100% - 0.7rem);
                overflow: hidden;
                position: relative;

                .image-33-3a7 {
                  width: 3.92rem;
                  height: 1.82rem;
                  position: relative;
                  background-size: 126.385% 186.574%;
                  background-position: -0.4794rem -0.8089rem;
                  background-image: url('REPLACE_IMAGE:b28e31b9c88d0c9b038b82deeb0523d82cffe267');
                }
              }
            }
          }
          .frame-819-85m {
            width: calc(100% - 35.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 35.3rem;

            .radio-button-sp3 {
              margin-right: 1.6rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .cash-on-delivery-Raf {
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
        }
        .coupon-code-8jy {
          display: flex;
          align-items: center;
          margin-bottom: 3.2rem;
          width: 100%;
          height: 5.6rem;

          .frame-798-GLP {
            box-sizing: border-box;
            color: #ffffff;
            border: solid 0.1rem #ffffff;
            border-radius: 0.4rem;
            overflow: hidden;
            margin-right: 1.6rem;
            font-weight: 400;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            padding: 1.6rem 2.4rem;
            width: 30rem;
            height: 100%;
            position: relative;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .button-iy5 {
            background-color: #db4444;
            width: 21.1rem;
            font-size: 1.6rem;
            justify-content: center;
            border-radius: 0.4rem;
            flex-shrink: 0;
            cursor: pointer;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 100%;
            font-weight: 500;
            color: #ffffff;
            display: flex;
            align-items: center;
          }
        }
        .button-Zio {
          align-items: center;
          display: flex;
          justify-content: center;
          height: 5.6rem;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 500;
          width: 19rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.5;
          background-color: #db4444;
          border-radius: 0.4rem;
        }
      }
      .frame-927-cSB {
        position: absolute;
        left: 13.3rem;
        overflow: hidden;
        align-items: center;
        box-sizing: border-box;
        padding: 7.3rem 5.9rem 2rem 6.4rem;
        width: 95rem;
        height: 84.7rem;
        display: flex;
        background-color: #d0f582;
        top: 0;
        flex-direction: column;

        .your-order-is-confirmed-KLb {
          font-weight: 700;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.3rem 2rem 0rem;
          font-size: 4rem;
        }
        .thank-you-for-shopping-with-us-your-order-will-reach-you-on-18-jan-2022-ETZ {
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 0.3rem 3.7rem 0rem;
          text-align: center;
          font-size: 4rem;
          max-width: 55.6rem;
          font-weight: 400;
          flex-shrink: 0;
        }
        .image-64-71Z {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.5rem;
          width: 45rem;
          height: 45rem;
          object-fit: cover;
        }
        .group-1000005937-qy9 {
          font-weight: 500;
          line-height: 0.75;
          align-items: center;
          background-color: #ffffff;
          font-size: 3.2rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 2.7rem;
          width: 100%;
          color: #b9a1a1;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          height: 5.9rem;
        }
      }
    }
  }
  .footer-J63 {
    width: 100%;
    height: 44rem;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 13.5rem 12.4rem 13.5rem;

    .frame-743-q5y {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      .auto-group-hbxb-mkK {
        box-sizing: border-box;
        padding-right: 8.7rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .frame-717-ivT {
          margin-right: 8.7rem;
          width: 21.7rem;
          height: 14rem;
          position: relative;
          flex-shrink: 0;

          .frame-716-4jR {
            letter-spacing: 0.072rem;
            color: #f9f9f9;
            height: 12.4rem;
            position: absolute;
            font-weight: 700;
            line-height: 1;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 20.6rem;
            left: 0;
            top: 0;
            font-size: 2.4rem;
          }
          .send-mail-NVD {
            box-sizing: border-box;
            position: absolute;
            border: solid 0.15rem #f9f9f9;
            padding: 1.2rem 1.7rem 1.2rem 1.6rem;
            width: 21.7rem;
            height: 4.8rem;
            left: 0;
            top: 9.2rem;
            display: flex;
            align-items: center;
            border-radius: 0.4rem;

            .enter-your-email-RiP {
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.4rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .icon-send-Y2K {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0rem;
              width: 2rem;
              height: 1.8rem;
            }
          }
        }
        .frame-713-pkX {
          width: 17.5rem;
          flex-shrink: 0;

          .support-nST {
            margin-bottom: 2.4rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.4;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-712-j6o {
            width: 100%;
            row-gap: 1.6rem;
            display: flex;
            flex-direction: column;

            .bijoy-sarani-dhaka-dh-1515-bangladesh-UaB {
              max-width: 17.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .exclusivegmailcom-nKy {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-88015-88888-9999-8Pq {
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
      }
      .frame-711-EBy {
        width: 12.3rem;
        height: 100%;
        flex-shrink: 0;

        .account-zB9 {
          font-weight: 500;
          line-height: 1.4;
          color: #f9f9f9;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
          font-size: 2rem;
        }
        .frame-710-Xgs {
          width: 100%;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;

          .my-account-5iP {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .login-register-ELP {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9f9f9;
          }
          .cart-xGP {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .wishlist-hzf {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9f9f9;
          }
          .shop-s8T {
            line-height: 1.5;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-czux-crj {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 8.7rem;
        width: 48.1rem;
        height: 100%;

        .frame-709-NL7 {
          width: 10.9rem;
          height: 19.6rem;

          .quick-link-hNP {
            margin-bottom: 2.4rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.4;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-708-dG3 {
            width: 100%;
            row-gap: 1.6rem;
            display: flex;
            flex-direction: column;

            .privacy-policy-y51 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .terms-of-use-6fR {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .faq-FYK {
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
            .contact-aab {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
            }
          }
        }
      }
    }
  }
}
