
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.9rem;
}.contact-us-jDh {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 3.2rem;
  background-color: #090d28;
  cursor: pointer;
  align-items: flex-end;

  .header-f7M {
    padding-left: 3.8182rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #090d28;
    flex-shrink: 0;
    margin: 0rem 0.1rem 1.864rem 0rem;
    box-sizing: border-box;
    width: 139.9rem;
    height: 7.6364rem;
    display: flex;

    .gym-logo-1-k8o {
      height: 7.6364rem;
      position: relative;
      background-size: 125.698% 190.678%;
      background-position: -1.6638rem -2.4592rem;
      background-image: url('REPLACE_IMAGE:6dbe22f459da5d7afa6f625702a83c035d42e502');
      flex-shrink: 0;
      margin-right: 6.5864rem;
      width: 11.4546rem;
    }
    .home-qvw {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.868rem 0.009rem 0rem;
      font-size: 1.5273rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .about-us-9Rq {
      margin: 0rem 1.818rem 0.009rem 0rem;
      cursor: pointer;
      font-weight: 500;
      flex-shrink: 0;
      font-size: 1.5273rem;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .packages-4Yo {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.5273rem;
      font-weight: 500;
      line-height: 1.2175;
      margin: 0rem 1.9rem 0.009rem 0rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .shop-an3 {
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.891rem 0.009rem 0rem;
      font-size: 1.5273rem;
      font-weight: 500;
      line-height: 1.2175;
    }
    .blog-7my {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.891rem 0.009rem 0rem;
      font-size: 1.5273rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .contact-us-pRV {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0091rem;
      font-size: 1.5273rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ea377b;
    }
    .auto-group-9et7-k4F {
      box-sizing: border-box;
      padding: 1.909rem 6.263rem 1.909rem 6.505rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .search-bar-rsy {
        padding: 0.764rem 1.909rem 0.764rem 1.909rem;
        display: flex;
        align-items: center;
        background-color: #1b1f3e;
        border-radius: 0.9546rem;
        margin-right: 2.8636rem;
        box-sizing: border-box;
        height: 100%;
        flex-shrink: 0;

        .search-yxb {
          margin: 0rem 17.705rem 0.009rem 0rem;
          font-size: 1.5273rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #6c6c6f;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .search-outline-uLT {
          width: 2.2909rem;
          height: 2.2909rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .login-register-CKZ {
        margin: 0rem 1.3rem 0.009rem 0rem;
        font-size: 1.5273rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .cart-icon-iYo {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.336rem 0rem 0rem;
        width: 3.2455rem;
        height: 3.2455rem;
      }
      .wishlist-icon-eBZ {
        height: 3.2455rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0rem;
        width: 3.2455rem;
      }
    }
  }
  .footer-yDq {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 13.5rem;
    width: 100%;
    height: 48.3rem;
    overflow: hidden;
    position: relative;
    background-color: #000000;

    .frame-743-udH {
      width: 100%;
      height: 23.6rem;
      display: flex;
      align-items: center;

      .auto-group-tlet-pkF {
        padding-right: 8.7rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-717-NWs {
          margin-right: 8.7rem;
          width: 21.7rem;
          height: 14rem;
          position: relative;
          flex-shrink: 0;

          .frame-716-7jM {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 2.4rem;
            font-family: Inter, 'Source Sans Pro';
            width: 20.6rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.072rem;
            color: #f9f9f9;
            white-space: nowrap;
            height: 12.4rem;
          }
          .send-mail-1Zq {
            border-radius: 0.4rem;
            box-sizing: border-box;
            height: 4.8rem;
            top: 9.2rem;
            display: flex;
            border: solid 0.15rem #f9f9f9;
            padding: 1.2rem 1.7rem 1.2rem 1.6rem;
            width: 21.7rem;
            position: absolute;
            left: 0;
            align-items: center;

            .enter-your-email-7cs {
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .icon-send-3mR {
              width: 2rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0rem;
            }
          }
        }
        .frame-713-xNb {
          flex-shrink: 0;
          width: 17.5rem;

          .support-Wuu {
            font-weight: 500;
            line-height: 1.4;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            font-size: 2rem;
          }
          .frame-712-qhH {
            flex-direction: column;
            width: 100%;
            row-gap: 1.6rem;
            display: flex;

            .bijoy-sarani-dhaka-dh-1515-bangladesh-zKH {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 17.4rem;
            }
            .exclusivegmailcom-6dD {
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .item-88015-88888-9999-dt3 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-711-N4w {
        height: 100%;
        flex-shrink: 0;
        width: 12.3rem;

        .account-XTd {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.4;
          color: #f9f9f9;
        }
        .frame-710-fZq {
          display: flex;
          flex-direction: column;
          width: 100%;
          row-gap: 1.6rem;

          .my-account-czs {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .login-register-mcs {
            line-height: 1.5;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .cart-io1 {
            line-height: 1.5;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .wishlist-sR1 {
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .shop-Dzf {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
      .auto-group-xjao-Zod {
        box-sizing: border-box;
        padding: 0 8.7rem;
        width: 48.1rem;
        height: 100%;
        flex-shrink: 0;

        .frame-709-7aF {
          width: 10.9rem;
          height: 19.6rem;

          .quick-link-fbm {
            white-space: nowrap;
            margin-bottom: 2.4rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.4;
            color: #f9f9f9;
            font-family: Poppins, 'Source Sans Pro';
          }
          .frame-708-bVR {
            width: 100%;
            row-gap: 1.6rem;
            display: flex;
            flex-direction: column;

            .privacy-policy-9Ww {
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .terms-of-use-Ht3 {
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .faq-SF9 {
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
            .contact-PgB {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f9f9f9;
            }
          }
        }
      }
    }
  }
}
