
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 114.6rem;
}.packages-dxb {
  display: flex;
  flex-direction: column;
  background-color: #090d28;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .header-zYF {
    overflow: hidden;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    height: 6.3701rem;
    display: flex;
    background-color: #090d28;
    flex-shrink: 0;
    padding-left: 3.185rem;
    width: 114.6613rem;

    .gym-logo-1-KKd {
      background-position: -1.3879rem -2.0514rem;
      background-image: url('REPLACE_IMAGE:6dbe22f459da5d7afa6f625702a83c035d42e502');
      flex-shrink: 0;
      margin-right: 5.4942rem;
      width: 9.5551rem;
      height: 6.3701rem;
      position: relative;
      background-size: 125.698% 190.678%;
    }
    .home-pGP {
      margin: 0.007rem 1.613rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 600;
      line-height: 1.2175;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .about-us-VtK {
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.007rem 1.54rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 500;
      cursor: pointer;
      line-height: 1.2175;
    }
    .packages-RX5 {
      margin: 0.007rem 1.559rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ea377b;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .shop-MQj {
      margin: 0.007rem 1.515rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .blog-fRR {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.007rem 1.615rem 0rem 0rem;
      font-size: 1.274rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
    }
    .contact-us-zib {
      margin-top: 0.0075rem;
      font-size: 1.274rem;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
    }
    .auto-group-orku-i8o {
      box-sizing: border-box;
      padding: 1.593rem 3.185rem 1.593rem 5.435rem;
      width: 54.086rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .search-bar-cV5 {
        background-color: #1b1f3e;
        height: 100%;
        align-items: center;
        padding: 0.637rem 1.593rem 0.637rem 1.592rem;
        display: flex;
        border-radius: 0.7963rem;
        flex-shrink: 0;
        margin-right: 2.3887rem;
        box-sizing: border-box;

        .search-vVm {
          line-height: 1.2175;
          color: #6c6c6f;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.007rem 14.79rem 0rem 0rem;
          font-size: 1.274rem;
          font-weight: 400;
        }
        .search-outline-SU7 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.911rem;
          height: 1.911rem;
        }
      }
      .login-register-KXu {
        flex-shrink: 0;
        margin: 0.007rem 1.062rem 0rem 0rem;
        font-size: 1.274rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .cart-icon-FRZ {
        margin: 0rem 1.115rem 0rem 0rem;
        width: 2.7073rem;
        height: 2.7073rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .wishlist-icon-ZBM {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0rem;
        width: 2.7073rem;
        height: 2.7073rem;
      }
    }
  }
  .auto-group-k9sw-T1q {
    box-sizing: border-box;
    padding: 3.83rem 11.426rem 0rem 8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .title-nK1 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 32.194rem 2.923rem 32.28rem;
      width: calc(100% - 64.4737rem);
      align-items: center;
      display: flex;

      .our-plan-6qV {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.3596rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        color: #ffffff;
        margin-bottom: 0.6118rem;
        line-height: 1.1000000351;
        letter-spacing: 0.5438rem;
        text-transform: uppercase;
      }
      .choose-the-program-A4f {
        font-weight: 700;
        line-height: 1.0999999875;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.0592rem;
      }
    }
    .price-6DD {
      width: 100%;
      height: 74.615rem;
      display: flex;
      column-gap: 2.1074rem;
      align-items: flex-start;
      flex-shrink: 0;

      .item-1-EaK {
        box-sizing: border-box;
        padding: 3.671rem 2.311rem 0rem 2.311rem;
        width: 30.3196rem;
        height: 57.515rem;
        background-color: #f9f9f9;
        flex-shrink: 0;

        .content-9hH {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .sub-content-iEb {
            margin-bottom: 1.7675rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .plan-559 {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 15.474rem 3.399rem 0rem;
              width: calc(100% - 15.4737rem);
              display: flex;

              .group-37-c55 {
                margin: 0rem 0.68rem 0.009rem 0rem;
                width: 2.2434rem;
                height: 2.0394rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .basic-vLf {
                color: #1b2129;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.7192rem;
                font-weight: 700;
                line-height: 1.1000000351;
              }
            }
            .price-fJF {
              width: 100%;
              height: 11.3775rem;
              border-top: solid 0.068rem #d3d3d3;
              border-bottom: solid 0.068rem #d3d3d3;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.719rem 4.045rem 2.787rem 4.045rem;

              .sub-title-kab {
                align-items: center;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .month-uyH {
                  margin: 0rem 0rem 0.648rem 0.2rem;
                  font-size: 2.0394rem;
                  line-height: 1.0999999906;
                  white-space: nowrap;
                  display: flex;
                  font-weight: 600;
                  color: #1b2129;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: baseline;
                  flex-shrink: 0;

                  .month-uyH-sub-0 {
                    color: #1b2129;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2.0394rem;
                    font-weight: 400;
                    line-height: 1.0999999906;
                  }
                  .month-uyH-sub-1 {
                  }
                }
                .billed-yearly-Jtw {
                  font-size: 1.3596rem;
                  line-height: 1.5740000049;
                  color: #1b2129;
                  font-family: Lato, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  width: 100%;
                  flex-shrink: 0;
                  justify-content: center;
                  font-weight: 700;
                  background-color: #ffffff;
                  height: 2.9232rem;
                }
              }
            }
          }
          .plan-features-yEP {
            height: 34.3rem;
            position: relative;
            flex-shrink: 0;
            margin: 0 2.2485rem;
            width: calc(100% - 4.4969rem);

            .day-free-trial-20-minutes-of-heart-pumping-spin-20-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-sKm {
              width: 21.2rem;
              height: 34.3rem;
              left: 0;
              text-align: center;
              font-weight: 500;
              color: #6a6a6a;
              font-family: Lato, 'Source Sans Pro';
              position: absolute;
              top: 0;
              font-size: 1.3596rem;
              line-height: 2.5200000421;
              text-transform: capitalize;

              .day-free-trial-20-minutes-of-heart-pumping-spin-20-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-sKm-sub-0 {
                font-family: Lato, 'Source Sans Pro';
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
                text-transform: capitalize;
                color: #524ff5;
              }
              .day-free-trial-20-minutes-of-heart-pumping-spin-20-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-sKm-sub-1 {
              }
              .day-free-trial-20-minutes-of-heart-pumping-spin-20-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-sKm-sub-2 {
                text-transform: capitalize;
                color: #1b2129;
                font-family: Lato, 'Source Sans Pro';
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
              }
              .day-free-trial-20-minutes-of-heart-pumping-spin-20-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-sKm-sub-3 {
              }
              .day-free-trial-20-minutes-of-heart-pumping-spin-20-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-sKm-sub-4 {
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
                text-transform: capitalize;
                color: #1b2129;
                font-family: Lato, 'Source Sans Pro';
              }
              .day-free-trial-20-minutes-of-heart-pumping-spin-20-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-sKm-sub-5 {
              }
            }
            .button-BFu {
              width: 14.2622rem;
              position: absolute;
              box-sizing: border-box;
              top: 19.7193rem;
              font-size: 1.4956rem;
              line-height: 1.2;
              justify-content: center;
              border: solid 0.068rem #b9b9b9;
              left: 3.4689rem;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              background-color: #1b2129;
              height: 4.4513rem;
              font-weight: 600;
              align-items: center;
            }
          }
        }
      }
      .item-2-CB1 {
        background-color: #f9f9f9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.671rem 2.311rem 0rem 2.311rem;
        width: 30.3196rem;
        height: 100%;

        .content-ubD {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .sub-content-GRm {
            flex-shrink: 0;
            margin-bottom: 1.7675rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .plan-d1R {
              width: calc(100% - 9.8939rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 9.894rem 3.399rem 0rem;

              .group-38-AGF {
                margin-right: 0.9518rem;
                width: 2.6513rem;
                height: 2.7747rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .standard-hmy {
                color: #1b2129;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.7192rem;
                font-weight: 700;
                line-height: 1.1000000351;
              }
            }
            .price-ehD {
              box-sizing: border-box;
              padding: 2.719rem 5.498rem 2.787rem 5.698rem;
              width: 100%;
              height: 11.3775rem;
              border-top: solid 0.068rem #d3d3d3;
              border-bottom: solid 0.068rem #d3d3d3;
              flex-shrink: 0;

              .sub-title-yDh {
                width: 100%;
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;

                .month-wAX {
                  align-items: baseline;
                  margin-bottom: 0.6478rem;
                  font-size: 2.0394rem;
                  font-weight: 600;
                  color: #1b2129;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  flex-shrink: 0;
                  line-height: 1.0999999906;

                  .month-wAX-sub-0 {
                    font-weight: 400;
                    line-height: 1.0999999906;
                    color: #1b2129;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2.0394rem;
                  }
                  .month-wAX-sub-1 {
                  }
                }
                .billed-yearly-YRD {
                  color: #1b2129;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #a1f65e;
                  width: calc(100% - 3.555rem);
                  line-height: 1.5740000049;
                  font-family: Lato, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-weight: 700;
                  margin: 0rem 1.877rem 0rem 1.678rem;
                  font-size: 1.3596rem;
                  height: 2.9232rem;
                  white-space: nowrap;
                }
              }
            }
          }
          .plan-features-iyu {
            position: relative;
            flex-shrink: 0;
            margin: 0 2.2485rem;
            width: calc(100% - 4.4969rem);
            height: 51.4rem;

            .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd {
              text-align: center;
              font-weight: 500;
              line-height: 2.5200000421;
              text-transform: capitalize;
              color: #6a6a6a;
              font-family: Lato, 'Source Sans Pro';
              width: 21.2rem;
              height: 51.4rem;
              top: 0;
              font-size: 1.3596rem;
              position: absolute;
              left: 0;

              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-0 {
                text-transform: capitalize;
                color: #524ff5;
                font-family: Lato, 'Source Sans Pro';
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
              }
              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-1 {
              }
              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-2 {
                text-transform: capitalize;
                color: #1b2129;
                font-family: Lato, 'Source Sans Pro';
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
              }
              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-3 {
              }
              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-4 {
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
                text-transform: capitalize;
                color: #1b2129;
                font-family: Lato, 'Source Sans Pro';
              }
              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-5 {
              }
              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-6 {
                font-weight: 700;
                line-height: 2.5200000421;
                text-transform: capitalize;
                color: #1b2129;
                font-family: Lato, 'Source Sans Pro';
                font-size: 1.3596rem;
              }
              .week-free-trial-30-minutes-of-heart-pumping-spin-30-minutes-of-strength-training-50-class-times-available-20-minutes-of-invigorating-yoga-unlimited-crossfit-classes-one-full-month-free-first-25-new-members-only-GVd-sub-7 {
              }
            }
            .button-KeF {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              box-sizing: border-box;
              width: 14.2622rem;
              height: 4.4513rem;
              font-weight: 600;
              color: #393939;
              display: flex;
              top: 29.9193rem;
              font-size: 1.4956rem;
              align-items: center;
              justify-content: center;
              background-color: #f9f9f9;
              position: absolute;
              left: 3.4689rem;
              line-height: 1.2;
              border: solid 0.068rem #b9b9b9;
            }
          }
        }
      }
      .item-3-Ymu {
        width: 30.3196rem;
        height: 57.515rem;
        background-color: #f9f9f9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.671rem 2.311rem 0rem 2.311rem;

        .content-gdD {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .sub-content-3if {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 1.7675rem;
            width: 100%;

            .plan-1Qb {
              margin: 0rem 10.738rem 3.399rem 0rem;
              width: calc(100% - 10.7378rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-Lxf {
                margin: 0rem 0.884rem 0.145rem 0rem;
                width: 2.1754rem;
                height: 2.1754rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .premium-rw1 {
                flex-shrink: 0;
                font-size: 2.7192rem;
                font-weight: 700;
                line-height: 1.1000000351;
                color: #1b2129;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .price-kmV {
              border-bottom: solid 0.068rem #d3d3d3;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.719rem 4.045rem 2.787rem 4.045rem;
              width: 100%;
              height: 11.3775rem;
              border-top: solid 0.068rem #d3d3d3;

              .sub-title-VDH {
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: center;
                display: flex;

                .month-EAs {
                  color: #1b2129;
                  flex-shrink: 0;
                  margin: 0rem 0.3rem 0.648rem 0rem;
                  font-weight: 600;
                  line-height: 1.0999999906;
                  display: flex;
                  align-items: baseline;
                  font-size: 2.0394rem;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;

                  .month-EAs-sub-0 {
                  }
                  .month-EAs-sub-1 {
                    color: #1b2129;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2.0394rem;
                    font-weight: 400;
                    line-height: 1.0999999906;
                  }
                  .month-EAs-sub-2 {
                  }
                }
                .billed-yearly-8fZ {
                  white-space: nowrap;
                  display: flex;
                  background-color: #ffffff;
                  width: 100%;
                  line-height: 1.5740000049;
                  color: #1b2129;
                  font-family: Lato, 'Source Sans Pro';
                  align-items: center;
                  justify-content: center;
                  flex-shrink: 0;
                  height: 2.9232rem;
                  font-size: 1.3596rem;
                  font-weight: 700;
                }
              }
            }
          }
          .plan-features-c4w {
            flex-shrink: 0;
            margin: 0 2.2485rem;
            width: calc(100% - 4.4969rem);
            height: 34.3rem;
            position: relative;

            .week-free-trial-50-minutes-of-heart-pumping-spin-50-minutes-of-strength-training-60-class-times-available-50-minutes-of-invigorating-yoga-8Z5 {
              line-height: 2.5200000421;
              text-transform: capitalize;
              width: 21.2rem;
              height: 34.3rem;
              position: absolute;
              left: 0;
              text-align: center;
              font-size: 1.3596rem;
              color: #6a6a6a;
              font-family: Lato, 'Source Sans Pro';
              top: 0;
              font-weight: 500;

              .week-free-trial-50-minutes-of-heart-pumping-spin-50-minutes-of-strength-training-60-class-times-available-50-minutes-of-invigorating-yoga-8Z5-sub-0 {
                line-height: 2.5200000421;
                text-transform: capitalize;
                color: #524ff5;
                font-family: Lato, 'Source Sans Pro';
                font-size: 1.3596rem;
                font-weight: 700;
              }
              .week-free-trial-50-minutes-of-heart-pumping-spin-50-minutes-of-strength-training-60-class-times-available-50-minutes-of-invigorating-yoga-8Z5-sub-1 {
              }
              .week-free-trial-50-minutes-of-heart-pumping-spin-50-minutes-of-strength-training-60-class-times-available-50-minutes-of-invigorating-yoga-8Z5-sub-2 {
                text-transform: capitalize;
                color: #1b2129;
                font-family: Lato, 'Source Sans Pro';
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
              }
              .week-free-trial-50-minutes-of-heart-pumping-spin-50-minutes-of-strength-training-60-class-times-available-50-minutes-of-invigorating-yoga-8Z5-sub-3 {
              }
              .week-free-trial-50-minutes-of-heart-pumping-spin-50-minutes-of-strength-training-60-class-times-available-50-minutes-of-invigorating-yoga-8Z5-sub-4 {
                font-size: 1.3596rem;
                font-weight: 700;
                line-height: 2.5200000421;
                text-transform: capitalize;
                color: #1b2129;
                font-family: Lato, 'Source Sans Pro';
              }
              .week-free-trial-50-minutes-of-heart-pumping-spin-50-minutes-of-strength-training-60-class-times-available-50-minutes-of-invigorating-yoga-8Z5-sub-5 {
              }
            }
            .button-jqh {
              width: 14.2622rem;
              justify-content: center;
              position: absolute;
              line-height: 1.2;
              border: solid 0.068rem #b9b9b9;
              box-sizing: border-box;
              background-color: #1b2129;
              display: flex;
              align-items: center;
              height: 4.4513rem;
              left: 3.4689rem;
              font-weight: 600;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              top: 19.7193rem;
              font-size: 1.4956rem;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
