
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.checkout-Cij {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #161a38;
}
.checkout-Cij .auto-group-k2py-kVM {
  box-sizing: border-box;
  padding: 0rem 1rem 14rem 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X {
  margin-bottom: 24.3rem;
  width: 100%;
  height: 8rem;
  position: relative;
  overflow: hidden;
  background-color: #090d28;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .gym-logo-1-k7y {
  width: 12rem;
  height: 8rem;
  position: relative;
  left: 4rem;
  top: 0;
  background-size: 125.698% 190.678%;
  background-position: -1.743rem -2.5763rem;
  background-image: url('../assets/gym-logo-1-CBZ.png');
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .home-rqD {
  width: 5.3rem;
  height: 2rem;
  position: absolute;
  left: 22.9rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ea377b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .shop-x7Z {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 51.8rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .blog-F6f {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 58.6rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .contact-us-AUX {
  width: 10.6rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 65.4rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .login-register-UVD {
  width: 14rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 116.4rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .about-us-XCb {
  width: 8.6rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 30.2rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .packages-SaT {
  width: 9rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 40.8rem;
  top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .search-bar-MxK {
  box-sizing: border-box;
  padding: 0.8rem 2rem;
  width: 30.5rem;
  height: 4rem;
  position: absolute;
  left: 82.9rem;
  top: 2rem;
  display: flex;
  align-items: center;
  background-color: #1b1f3e;
  border-radius: 1rem;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .search-bar-MxK .search-3q9 {
  margin-right: 18.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #6c6c6f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .search-bar-MxK .search-outline-kjZ {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .cart-icon-gNK {
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  left: 131.8rem;
  top: 2.3rem;
  object-fit: contain;
  vertical-align: top;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .wishlist-icon-ngF {
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  left: 136.6rem;
  top: 2.3rem;
  object-fit: contain;
  vertical-align: top;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD {
  box-sizing: border-box;
  padding-left: 4rem;
  width: 144rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #090d28;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .gym-logo-1-btb {
  margin-right: 6.9rem;
  width: 12rem;
  height: 8rem;
  position: relative;
  background-size: 125.698% 190.678%;
  background-position: -1.743rem -2.5763rem;
  background-image: url('../assets/gym-logo-1-wzP.png');
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .home-ueP {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ea377b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .about-us-SeK {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .packages-Bbu {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .shop-ibq {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .blog-4fh {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .contact-us-QzT {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh {
  box-sizing: border-box;
  padding: 2rem 11.6rem 2rem 6.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh .search-bar-4JK {
  margin-right: 3.6rem;
  box-sizing: border-box;
  padding: 0.8rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #1b1f3e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh .search-bar-4JK .search-xeb {
  margin-right: 18.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #6c6c6f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh .search-bar-4JK .search-outline-VPd {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh .group-39-cz3 {
  margin: 0.3rem 2.6rem 0.3rem 0rem;
  width: 3.4rem;
  height: calc(100% - 0.6rem);
  cursor: pointer;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh .group-39-cz3 .cart-icon-9j5 {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1f3e;
  border-radius: 1.7rem;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh .cart-icon-Dyq {
  margin-right: 2.6rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .header-f6X .header-hoD .auto-group-hzs5-wDh .wishlist-icon-xwR {
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .billing-details-JEb {
  margin: 0rem 0rem 4.8rem 12.6rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 0.8333333333;
  letter-spacing: 0.144rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 {
  margin: 0rem 12.5rem 0rem 12.6rem;
  width: calc(100% - 25.1rem);
  height: 81.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps {
  margin-right: 17.3rem;
  width: 47rem;
  height: 100%;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 {
  margin-bottom: 2.4rem;
  width: 100%;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-821-xTZ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-821-xTZ .first-name-vQP {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-821-xTZ .first-name-vQP .first-name-vQP-sub-0 {
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-821-xTZ .first-name-vQP .first-name-vQP-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #db4444;
  font-family: Poppins, 'Source Sans Pro';
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-821-xTZ .frame-803-RkT {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-822-mZR {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-822-mZR .company-name-Y4P {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-822-mZR .frame-803-scT {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-823-pXh {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-823-pXh .street-address-BNF {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-823-pXh .street-address-BNF .street-address-BNF-sub-0 {
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-823-pXh .street-address-BNF .street-address-BNF-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #db4444;
  font-family: Poppins, 'Source Sans Pro';
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-823-pXh .frame-804-mbM {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-824-Woq {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-824-Woq .apartment-floor-etc-optional-d7m {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-824-Woq .frame-805-kTH {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-825-JUo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-825-JUo .town-city-fq9 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-825-JUo .town-city-fq9 .town-city-fq9-sub-0 {
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-825-JUo .town-city-fq9 .town-city-fq9-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #db4444;
  font-family: Poppins, 'Source Sans Pro';
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-825-JUo .frame-806-sRR {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-826-oK5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-826-oK5 .phone-number-jCj {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-826-oK5 .phone-number-jCj .phone-number-jCj-sub-0 {
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-826-oK5 .phone-number-jCj .phone-number-jCj-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #db4444;
  font-family: Poppins, 'Source Sans Pro';
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-826-oK5 .frame-807-w3u {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-827-UZd {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-827-UZd .email-address-qf5 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-827-UZd .email-address-qf5 .email-address-qf5-sub-0 {
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-827-UZd .email-address-qf5 .email-address-qf5-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #db4444;
  font-family: Poppins, 'Source Sans Pro';
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-829-2K1 .frame-827-UZd .frame-808-pmu {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-828-yPu {
  margin-right: 1.9rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-828-yPu .icon-checkbox-KTm {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-830-Vps .frame-828-yPu .save-this-information-for-faster-check-out-next-time-TK5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq {
  margin-top: 3.2rem;
  width: 52.7rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-812-q4j {
  margin: 0rem 10.714rem 3.2rem 0rem;
  width: calc(100% - 10.7141rem);
  height: 6.1859rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-812-q4j .gym-t-shirt-3-x9M {
  margin-right: 2.4rem;
  width: 6.1859rem;
  height: 6.1859rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-812-q4j .frame-809-U7h {
  margin: 1.893rem 0rem 1.893rem 0rem;
  height: calc(100% - 3.7859rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-812-q4j .frame-809-U7h .goldgym-AmD {
  margin-right: 21rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-812-q4j .frame-809-U7h .item-999-UG7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 {
  margin-bottom: 3.2rem;
  width: 42.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-814-e47 {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-814-e47 .frame-796-PnP {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-814-e47 .frame-796-PnP .subtotal--x4o {
  margin-right: 30.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-814-e47 .frame-796-PnP .item-999-VaX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-814-e47 .underline-or7 {
  opacity: 0.4;
  width: 42.2rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-795-6KR {
  margin-right: 0.1rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-795-6KR .shipping--ebq {
  margin-right: 31.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .frame-815-5mh .frame-795-6KR .free-PpK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-816-KXd .underline-wL3 {
  opacity: 0.4;
  width: 42.2rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-794-5x3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-794-5x3 .total--pej {
  margin-right: 33.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-817-CC7 .frame-794-5x3 .item-999-Aib {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf {
  margin: 0rem 10rem 3.2rem 0rem;
  width: calc(100% - 10rem);
  height: 2.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-818-qZq {
  margin: 0.2rem 15.5rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-818-qZq .radio-button-mTV {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-818-qZq .bank-5DH {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR {
  box-sizing: border-box;
  padding: 0.14rem 0.14rem 0.14rem 0.21rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .bkash-Xb5 {
  margin: 0.42rem 1.22rem 0.42rem 0rem;
  height: calc(100% - 0.84rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .bkash-Xb5 .image-32-sQ3 {
  width: 3.78rem;
  height: 1.68rem;
  position: relative;
  background-size: 128.997% 191.441%;
  background-position: -0.548rem -0.7795rem;
  background-image: url('../assets/image-32.png');
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .visa-yT5 {
  margin: 0.7rem 1.15rem 0.7rem 0rem;
  height: calc(100% - 1.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .visa-yT5 .image-30-7pB {
  width: 3.78rem;
  height: 1.12rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .mastercard-fKu {
  margin-right: 1.08rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .mastercard-fKu .image-31-pTh {
  width: 3.92rem;
  height: 2.52rem;
  position: relative;
  background-size: 100% 96.228%;
  background-position: 0 0.0338rem;
  background-image: url('../assets/image-31.png');
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .nagad-wHR {
  margin: 0.35rem 0;
  height: calc(100% - 0.7rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-835-WGf .frame-834-bhR .nagad-wHR .image-33-tTZ {
  width: 3.92rem;
  height: 1.82rem;
  position: relative;
  background-size: 126.385% 186.574%;
  background-position: -0.4794rem -0.8089rem;
  background-image: url('../assets/image-33.png');
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-819-n39 {
  margin-right: 35.3rem;
  width: calc(100% - 35.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-819-n39 .radio-button-7LK {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .auto-group-drgx-78j .frame-819-n39 .cash-on-delivery-DeF {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .coupon-code-jMh {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .coupon-code-jMh .frame-798-H8K {
  margin-right: 1.6rem;
  box-sizing: border-box;
  padding: 1.6rem 2.4rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .coupon-code-jMh .button-wif {
  width: 21.1rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4444;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.checkout-Cij .auto-group-k2py-kVM .auto-group-zuxz-aC7 .frame-836-Nwq .button-Dw5 {
  width: 19rem;
  height: 5.6rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4444;
  border-radius: 0.4rem;
}
.checkout-Cij .footer-WfH {
  box-sizing: border-box;
  padding: 8rem 13.5rem 12.4rem 13.5rem;
  width: 100%;
  height: 44rem;
  overflow: hidden;
  position: relative;
  background-color: #000000;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 {
  box-sizing: border-box;
  padding-right: 8.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-717-67h {
  margin-right: 8.7rem;
  width: 21.7rem;
  height: 14rem;
  position: relative;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-717-67h .frame-716-dNX {
  width: 20.6rem;
  height: 12.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.072rem;
  color: #f9f9f9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-717-67h .send-mail-XTu {
  box-sizing: border-box;
  padding: 1.2rem 1.7rem 1.2rem 1.6rem;
  width: 21.7rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 9.2rem;
  display: flex;
  align-items: center;
  border: solid 0.15rem #f9f9f9;
  border-radius: 0.4rem;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-717-67h .send-mail-XTu .enter-your-email-cET {
  margin-right: 3.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-717-67h .send-mail-XTu .icon-send-w1q {
  margin-top: 0rem;
  width: 2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-713-qN7 {
  width: 17.5rem;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-713-qN7 .support-AfH {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-713-qN7 .frame-712-Ufy {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-713-qN7 .frame-712-Ufy .bijoy-sarani-dhaka-dh-1515-bangladesh-Rr7 {
  max-width: 17.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-713-qN7 .frame-712-Ufy .exclusivegmailcom-x5M {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-8cf9-y35 .frame-713-qN7 .frame-712-Ufy .item-88015-88888-9999-Vb5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 {
  width: 12.3rem;
  height: 100%;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 .account-acX {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 .frame-710-JYX {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 .frame-710-JYX .my-account-esH {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 .frame-710-JYX .login-register-yef {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 .frame-710-JYX .cart-is9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 .frame-710-JYX .wishlist-fnP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .frame-711-DX5 .frame-710-JYX .shop-DZ1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy {
  box-sizing: border-box;
  padding: 0 8.7rem;
  width: 48.1rem;
  height: 100%;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy .frame-709-Uzj {
  width: 10.9rem;
  height: 19.6rem;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy .frame-709-Uzj .quick-link-SRm {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy .frame-709-Uzj .frame-708-nEj {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy .frame-709-Uzj .frame-708-nEj .privacy-policy-j9y {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy .frame-709-Uzj .frame-708-nEj .terms-of-use-UdM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy .frame-709-Uzj .frame-708-nEj .faq-czT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-Cij .footer-WfH .frame-743-3QK .auto-group-1zwh-ZMy .frame-709-Uzj .frame-708-nEj .contact-kqm {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f9f9f9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
