
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-tKq {
  width: 100%;
  height: 497.2rem;
  overflow: hidden;
  position: relative;

  .gym-website-template-design-J8f {
    padding-top: 0.8rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    flex-direction: column;
    background-color: #090d28;

    .auto-group-fuqk-x6j {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 4rem;
      width: 100%;
      height: 71.8rem;

      .banner-image-38B {
        background-color: #1b1f3e;
        width: 144rem;
        height: 50rem;
        position: absolute;
        left: 0;
        top: 7.1rem;

        .sport-girl-1-Mef {
          width: 35.9rem;
          height: 47.5rem;
          position: absolute;
          left: 92.7rem;
          top: 0.9rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-5-43H {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 144rem;
          height: 50rem;
          position: absolute;
          left: 0;
        }
        .workout-with-me-ZEw {
          width: 39.7rem;
          top: 14.6rem;
          font-weight: 600;
          letter-spacing: 0.2rem;
          font-family: Montserrat, 'Source Sans Pro';
          height: 4.9rem;
          position: absolute;
          left: 23.2rem;
          font-size: 4rem;
          line-height: 1.2175;
          color: #ffffff;
          white-space: nowrap;
        }
        .fasterstronger-fight-to-the-end-Coh {
          white-space: nowrap;
          width: 39.8rem;
          top: 20.3rem;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          height: 2.5rem;
          position: absolute;
          left: 23.2rem;
          line-height: 1.2175;
        }
        .more-details-button-HaF {
          width: 15.8rem;
          top: 25.7rem;
          color: #ffffff;
          justify-content: center;
          background-color: #ea377b;
          display: flex;
          height: 5.2rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 23.2rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2175;
          align-items: center;
          border-radius: 1rem;
        }
      }
      .header-5W7 {
        overflow: hidden;
        display: flex;
        background-color: #090d28;
        box-sizing: border-box;
        padding-left: 4rem;
        height: 8rem;
        position: absolute;
        left: 0;
        width: 144rem;
        top: 0;
        align-items: center;

        .gym-logo-1-MyR {
          flex-shrink: 0;
          margin-right: 6.9rem;
          width: 12rem;
          height: 8rem;
          position: relative;
          background-size: 125.698% 190.678%;
          background-position: -1.743rem -2.5763rem;
          background-image: url('REPLACE_IMAGE:6dbe22f459da5d7afa6f625702a83c035d42e502');
        }
        .home-RTV {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2175;
          color: #ea377b;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .about-us-GDD {
          margin-right: 2rem;
          font-weight: 500;
          line-height: 1.2175;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .packages-Nn3 {
          margin-right: 2rem;
          cursor: pointer;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .shop-5Af {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #ffffff;
        }
        .blog-REX {
          font-weight: 500;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.6rem;
        }
        .contact-us-L6b {
          font-weight: 500;
          line-height: 1.2175;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
        }
        .auto-group-gnsk-r4w {
          padding: 2rem 4rem 2rem 6.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .search-bar-MGb {
            padding: 0.8rem 2rem;
            display: flex;
            flex-shrink: 0;
            margin-right: 3rem;
            height: 100%;
            align-items: center;
            background-color: #1b1f3e;
            border-radius: 1rem;
            box-sizing: border-box;

            .search-yxB {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 18.6rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #6c6c6f;
            }
            .search-outline-VvX {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
            }
          }
          .login-register-C4F {
            flex-shrink: 0;
            margin-right: 1.4rem;
            cursor: pointer;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2175;
            white-space: nowrap;
          }
          .cart-icon-gEK {
            height: calc(100% - 0.6rem);
            background-color: #1b1f3e;
            border-radius: 1.7rem;
            flex-shrink: 0;
            margin: 0.3rem 1.4rem 0.3rem 0rem;
            box-sizing: border-box;
            padding: 0.5rem;

            .shopping-cart-outline-oJw {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .wishlist-icon-XVq {
            background-color: #1b1f3e;
            border-radius: 1.7rem;
            flex-shrink: 0;
            margin: 0.3rem 0;
            box-sizing: border-box;
            padding: 0.5rem;
            height: calc(100% - 0.6rem);

            .heart-GiK {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .shippingpaymentexchangeservice-section-Pnw {
        top: 46.9rem;
        display: flex;
        column-gap: 3.2rem;
        background-color: #ffffff;
        overflow: hidden;
        align-items: center;
        box-sizing: border-box;
        padding: 2.6rem 3rem;
        width: 114.4rem;
        height: 24.9rem;
        position: absolute;
        left: 14.8rem;

        .free-shipping-3Mh {
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #ea377b;
          padding: 2.5rem 1.9rem;
          width: 24.7rem;
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .shipping-icon-Y3Z {
            margin: 0rem 0.1rem 1rem 0rem;
            width: 6rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .free-shipping-EBH {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #090d28;
          }
          .contrary-to-popular-belief-ipsum-is-simply-random-ZjM {
            color: #4a4e68;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 20.9rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3575125;
          }
        }
        .instant-payments-QV5 {
          flex-shrink: 0;
          width: 24.7rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #ea377b;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 2.5rem 1.9rem;

          .payment-icon-WY7 {
            width: 6rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.1rem 1rem 0rem;
          }
          .instant-payments-2WT {
            font-weight: 500;
            line-height: 1.2175;
            color: #090d28;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 2rem;
          }
          .contrary-to-popular-belief-ipsum-is-simply-random-yAo {
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 20.9rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3575125;
            color: #4a4e68;
          }
        }
        .exchange-return-rVV {
          padding: 2.3rem 0.95rem;
          height: 100%;
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #ea377b;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 24.7rem;

          .repeat-icon-LvT {
            margin: 0rem 0rem 1rem 0.1rem;
            width: 6rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .exchange-return-5d9 {
            margin-bottom: 0.9rem;
            line-height: 1.3575125;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .contrary-to-popular-belief-ipsum-is-simply-random-yyR {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3575125;
            color: #4a4e68;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 20.9rem;
            text-align: center;
          }
        }
        .customer-service-3iP {
          border: solid 0.1rem #ea377b;
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: 24.7rem;
          height: 100%;
          display: flex;
          padding: 2.3rem 1.75rem;
          align-items: center;
          flex-direction: column;
          flex-shrink: 0;

          .hours-icon-yc3 {
            flex-shrink: 0;
            margin: 0rem 0rem 1rem 0.1rem;
            width: 6rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .customer-service-VKV {
            font-size: 2rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.3575125;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.9rem;
          }
          .contrary-to-popular-belief-ipsum-is-simply-random-24X {
            max-width: 20.9rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3575125;
            color: #4a4e68;
            font-family: Montserrat, 'Source Sans Pro';
            margin-left: 0.2rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .explore-our-dynamic-training-programs-2Tq {
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #f5f5f5;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 4rem;
    }
    .auto-group-bwxm-LDd {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4rem;
      width: 100%;
      align-items: center;

      .training-program-list-FbV {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
        height: 51rem;
        display: flex;
        column-gap: 5rem;

        .auto-group-riaj-Z6P {
          flex-shrink: 0;
          width: 42rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .yoga-rrB {
            margin-bottom: 4rem;
            width: 100%;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:da3d2c3581d0818a330f663325a82811def309df');
            border-radius: 1rem;
            box-sizing: border-box;
            padding: 7.9rem 10.1rem;
            height: 23.5rem;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;

            .yoga-Q71 {
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              justify-content: center;
              height: 100%;
              font-size: 3.6rem;
              font-weight: 600;
              background-color: rgba(74, 78, 104, 0.5500000119);
              border-radius: 0.5rem;
              width: 100%;
              color: #f5f5f5;
              align-items: center;
            }
          }
          .zumba-qTD {
            border-radius: 1rem;
            box-sizing: border-box;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:e97058845a832bc702e97612658572c2b34324c9');
            flex-shrink: 0;
            padding: 7.9rem 10.1rem;
            width: 100%;
            height: 23.5rem;

            .zumba-8x7 {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              font-size: 3.6rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #f5f5f5;
              height: 100%;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              background-color: rgba(74, 78, 104, 0.5500000119);
              border-radius: 0.5rem;
            }
          }
        }
        .auto-group-hcbh-Pd9 {
          width: 42rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .fitness-Whm {
            background-image: url('REPLACE_IMAGE:58326aff15a7e6c8f45e6282127d426d660fb5a1');
            border-radius: 1rem;
            flex-shrink: 0;
            padding: 7.9rem 10.1rem;
            width: 100%;
            height: 23.5rem;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            margin-bottom: 4rem;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position: center;

            .fitness-SLX {
              color: #f5f5f5;
              display: flex;
              justify-content: center;
              background-color: rgba(74, 78, 104, 0.5500000119);
              height: 100%;
              font-size: 3.6rem;
              line-height: 1.2175;
              white-space: nowrap;
              align-items: center;
              border-radius: 0.5rem;
              width: 100%;
              font-weight: 600;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .workout-WrB {
            background-position: center;
            background-image: url('REPLACE_IMAGE:117b977e84451e9c671dc909a73acb60dcbf5ca9');
            border-radius: 1rem;
            box-sizing: border-box;
            width: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;
            padding: 7.9rem 10.1rem;
            height: 23.5rem;
            background-color: #d9d9d9;

            .workout-Dkb {
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #f5f5f5;
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              background-color: rgba(74, 78, 104, 0.5500000119);
              border-radius: 0.5rem;
            }
          }
        }
        .auto-group-pjpq-eb1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 42rem;
          height: 100%;
          align-items: center;

          .cardio-aDm {
            border-radius: 1rem;
            margin-bottom: 4rem;
            box-sizing: border-box;
            padding: 7.9rem 10.1rem;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:4a82fc52da665877a0dff972a315887223377a10');
            height: 23.5rem;
            background-size: 100% 100%;
            flex-shrink: 0;

            .cardio-v2j {
              width: 100%;
              height: 100%;
              font-size: 3.6rem;
              font-weight: 600;
              font-family: Montserrat, 'Source Sans Pro';
              justify-content: center;
              border-radius: 0.5rem;
              line-height: 1.2175;
              color: #f5f5f5;
              white-space: nowrap;
              display: flex;
              align-items: center;
              background-color: rgba(74, 78, 104, 0.5500000119);
            }
          }
          .bodybuilding-nqd {
            background-position: center;
            flex-shrink: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:4b11365211289e892332a3d82fb6674079a3366c');
            border-radius: 1rem;
            box-sizing: border-box;
            padding: 7.9rem 3.8rem;
            width: 100%;
            height: 23.5rem;

            .bodybuilding-YK1 {
              align-items: center;
              width: 100%;
              height: 100%;
              font-size: 3.6rem;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              justify-content: center;
              background-color: rgba(74, 78, 104, 0.5500000119);
              border-radius: 0.5rem;
              font-weight: 600;
              color: #f5f5f5;
            }
          }
        }
      }
      .category-bYB {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .category-kR5 {
          font-weight: 600;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 105.2rem;
          font-size: 3.6rem;
        }
        .see-all-emM {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
        }
      }
      .category-list--yHq {
        height: 21rem;
        display: flex;
        column-gap: 5.2rem;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;

        .protein-nutrition-Jqu {
          padding: 2rem 3.8rem 1.9rem 3.8rem;
          height: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          background-color: #1b1f3e;
          border-radius: 0.5rem;
          box-sizing: border-box;
          align-items: center;
          flex-shrink: 0;
          position: relative;

          .protein-nutrition-2-cbh {
            background-position: -3.5163rem 0;
            background-image: url('REPLACE_IMAGE:7b6c4689822c31ec7516d033a1281a3191cedbb6');
            flex-shrink: 0;
            width: 14.1rem;
            height: 14.1rem;
            position: relative;
            background-size: 151.111% 100%;
          }
          .protein-nutrition-JzK {
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .sports-outfit-S4w {
          flex-direction: column;
          background-color: #1b1f3e;
          border-radius: 0.5rem;
          height: 100%;
          overflow: hidden;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 7.3rem 1.9rem 7.3rem;
          position: relative;

          .sports-outfit-1-md1 {
            width: 14.1rem;
            height: 14.1rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .sports-outfit-HbM {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #f5f5f5;
          }
        }
        .sports-bags-Bwd {
          display: flex;
          background-color: #1b1f3e;
          box-sizing: border-box;
          height: 100%;
          overflow: hidden;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 2rem 8rem 1.9rem 7.3rem;
          position: relative;
          align-items: center;

          .sports-bags-1-VxK {
            flex-shrink: 0;
            margin-left: 0.7rem;
            width: 14.1rem;
            height: 14.1rem;
            object-fit: cover;
            vertical-align: top;
          }
          .sports-bags-Scf {
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.3rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .gym-accessories-AYf {
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 2rem 5rem 1.9rem 4.9rem;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: #1b1f3e;

          .gym-accessories-1-J95 {
            flex-shrink: 0;
            margin-left: 0.1rem;
            width: 14.1rem;
            height: 14.1rem;
            object-fit: cover;
            vertical-align: top;
          }
          .gym-accessories-Qxo {
            font-weight: 400;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
      }
      .new-product-99h {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .new-product-Gk7 {
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 96.4rem;
          font-size: 3.6rem;
          font-weight: 600;
        }
        .see-all-DQT {
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2175;
        }
      }
      .new-product-list-jtb {
        margin-bottom: 4rem;
        width: 100%;
        height: 53.9rem;
        display: flex;
        column-gap: 4.4rem;
        align-items: center;
        flex-shrink: 0;

        .gym-t-shirt-cSb {
          align-items: center;
          display: flex;
          border: solid 0.1rem #d9d9d9;
          width: 42.4rem;
          overflow: hidden;
          position: relative;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 5.2rem 8.7rem;
          height: 100%;

          .gym-t-shirt-1-jn7 {
            margin-bottom: 2rem;
            width: 25rem;
            height: 25rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .gym-t-shirt-G1M {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
          }
          .item-25000-oX5 {
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
          }
          .frame-4-WAb {
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
            color: #f5f5f5;
            white-space: nowrap;
            border-radius: 1rem;
            margin: 0 0.8rem;
            width: calc(100% - 1.6rem);
            line-height: 1.2175;
            background-color: #ea377b;
            height: 6.7rem;
            font-weight: 500;
            display: flex;
          }
        }
        .half-sleeve-t-shirt-NCo {
          align-items: center;
          border: solid 0.1rem #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 5.2rem 9.5rem;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          width: 42.4rem;
          height: 100%;

          .half-sleeve-t-shirt-1-HqZ {
            width: 22.1rem;
            height: 25rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.1rem 2.1rem 0rem;
          }
          .half-sleeve-t-shirt-YmV {
            margin: 0rem 0.1rem 1.8rem 0rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-30000-f5R {
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-4-P1R {
            height: 6.7rem;
            color: #f5f5f5;
            flex-shrink: 0;
            border-radius: 1rem;
            width: 100%;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            background-color: #ea377b;
            font-weight: 500;
            display: flex;
            font-size: 3.2rem;
            justify-content: center;
          }
        }
        .sleeve-less-t-shirt-U2s {
          position: relative;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          overflow: hidden;
          width: 42.4rem;
          align-items: center;
          border: solid 0.1rem #d9d9d9;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 5.2rem 8.7rem;

          .sleeve-less-t-shirt-1-b7V {
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 25rem;
            height: 25rem;
            object-fit: cover;
            vertical-align: top;
          }
          .sleeve-less-t-shirt-vvT {
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
            font-size: 2.4rem;
          }
          .item-30000-T9h {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .frame-4-ZyR {
            line-height: 1.2175;
            white-space: nowrap;
            display: flex;
            width: calc(100% - 1.6rem);
            color: #f5f5f5;
            margin: 0 0.8rem;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            font-size: 3.2rem;
            font-weight: 500;
            background-color: #ea377b;
            flex-shrink: 0;
            height: 6.7rem;
          }
        }
      }
      .trending-product-1yq {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .trending-product-yQs {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 85.9rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .see-all-Wfh {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .trending-product-list-T59 {
        display: flex;
        column-gap: 4.4rem;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
        height: 53.9rem;

        .black-gym-bag-bBM {
          flex-direction: column;
          border: solid 0.1rem #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 6.5rem 9.5rem;
          display: flex;
          height: 100%;
          overflow: hidden;
          position: relative;
          align-items: center;
          box-sizing: border-box;
          width: 42.4rem;

          .black-gym-bag-1-A7y {
            margin: 0rem 0rem 2rem 0.1rem;
            width: 22.5rem;
            height: 22.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .black-gym-bag-TMy {
            margin: 0rem 0.1rem 1.8rem 0rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-255000-Nzj {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.5rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .frame-4-swV {
            font-size: 3.2rem;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            height: 6.7rem;
            white-space: nowrap;
            flex-shrink: 0;
            width: 100%;
            color: #f5f5f5;
            justify-content: center;
            border-radius: 1rem;
            line-height: 1.2175;
            background-color: #ea377b;
            display: flex;
          }
        }
        .best-gym-bag-wAf {
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          padding: 6.5rem 9.5rem;
          align-items: center;
          height: 100%;
          overflow: hidden;
          position: relative;
          border: solid 0.1rem #d9d9d9;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 42.4rem;

          .best-gym-bag-1-CsH {
            width: 22.5rem;
            height: 22.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 2rem 0.3rem;
          }
          .best-gym-bag-JfR {
            margin-bottom: 1.8rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-30000-Cko {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .frame-4-iz3 {
            display: flex;
            align-items: center;
            font-size: 3.2rem;
            line-height: 1.2175;
            white-space: nowrap;
            border-radius: 1rem;
            width: 100%;
            justify-content: center;
            background-color: #ea377b;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            height: 6.7rem;
            color: #f5f5f5;
          }
        }
        .sleeve-less-t-shirt-P4b {
          box-sizing: border-box;
          width: 42.4rem;
          height: 100%;
          flex-direction: column;
          border: solid 0.1rem #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 6.8rem 9.5rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;

          .shoulder-bag-1-6jh {
            margin: 0rem 0rem 2rem 0.1rem;
            width: 22.5rem;
            height: 22.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .shoulder-bag-CXq {
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
          }
          .item-30000-iWB {
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .frame-4-2mm {
            width: 100%;
            height: 6.7rem;
            white-space: nowrap;
            background-color: #ea377b;
            line-height: 1.2175;
            color: #f5f5f5;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            font-weight: 500;
            display: flex;
            justify-content: center;
            font-size: 3.2rem;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
      .trending-product-sXV {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .popular-product-DrF {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 87.3rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .see-all-AFh {
          margin-top: 0.1rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #f5f5f5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .popular-product-list-6v3 {
        margin-bottom: 12.4rem;
        width: 100%;
        height: 53.9rem;
        display: flex;
        column-gap: 4.4rem;
        align-items: center;
        flex-shrink: 0;

        .whey-protein-mexico-eAs {
          flex-shrink: 0;
          width: 42.4rem;
          display: flex;
          border: solid 0.1rem #d9d9d9;
          border-radius: 0.5rem;
          position: relative;
          align-items: center;
          flex-direction: column;
          box-sizing: border-box;
          padding: 6.7rem 8.3rem 6.7rem 8.2rem;
          height: 100%;
          overflow: hidden;

          .whey-protein-mexico-1-jy1 {
            width: 13rem;
            height: 22.1298rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 1.97rem 0.1rem;
          }
          .whey-protein-mexico-3Tu {
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-size: 2.4rem;
            font-weight: 500;
          }
          .item-255000-ayd {
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-4-4du {
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            white-space: nowrap;
            height: 6.7rem;
            background-color: #ea377b;
            width: calc(100% - 2.5rem);
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            align-items: center;
            border-radius: 1rem;
            margin: 0rem 1.2rem 0rem 1.3rem;
            justify-content: center;
            flex-shrink: 0;
          }
        }
        .vegan-protein-powder-gQP {
          box-sizing: border-box;
          width: 42.4rem;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 6.5rem 7.5rem;
          height: 100%;
          overflow: hidden;
          border: solid 0.1rem #d9d9d9;

          .vegan-protein-powder-1-PZh {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.1rem 2rem 0rem;
            width: 22.5rem;
            height: 22.5rem;
          }
          .vegan-protein-powder-5SX {
            margin-bottom: 1.8rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-30000-Qzb {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
          }
          .frame-4-L7Z {
            display: flex;
            justify-content: center;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            margin: 0 2rem;
            width: calc(100% - 4rem);
            color: #f5f5f5;
            white-space: nowrap;
            border-radius: 1rem;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 500;
            background-color: #ea377b;
            height: 6.7rem;
            line-height: 1.2175;
          }
        }
        .organic-protein-powder-kSB {
          width: 42.4rem;
          position: relative;
          align-items: center;
          display: flex;
          border: solid 0.1rem #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 6.7rem 6.5rem;
          height: 100%;
          overflow: hidden;
          flex-direction: column;

          .organic-protein-powder-1-5DZ {
            height: 22.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.3rem 2rem 0rem;
            width: 22.5rem;
          }
          .organic-protein-powder-Coy {
            font-weight: 500;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            font-size: 2.4rem;
          }
          .item-30000-j3D {
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.9rem 0.6rem;
            font-size: 2.4rem;
            font-weight: 500;
          }
          .frame-4-SyD {
            width: calc(100% - 6rem);
            height: 6.7rem;
            color: #f5f5f5;
            display: flex;
            font-size: 3.2rem;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            margin: 0 3rem;
            font-weight: 500;
            background-color: #ea377b;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
      }
      .about-us-L31 {
        height: 36.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 8.9rem 4rem 10.1rem;
        width: calc(100% - 19rem);

        .auto-group-f4du-3CK {
          flex-shrink: 0;
          margin: 1.2rem 10.8rem 0.7rem 0rem;
          height: calc(100% - 1.9rem);
          display: flex;
          flex-direction: column;

          .about-us-xaB {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.8665rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .welcome-to-our-gym-where-fitness-meets-passion-and-every-drop-of-sweat-tells-a-story-of-dedication-our-gym-isnt-just-a-place-to-work-out-its-a-community-a-lifestyle-and-a-commitment-to-your-well-beingwe-are-committe-d-to-providing-a-safe-inclusive-and-inspiring-space-for-individuals-of-all-ages-and-fitness-levels-whether-youre-a-seasoned-gym-goer-or-just-starting-is-here-to-support-you-every-step-of-the-way-Gqm {
            max-width: 54.1rem;
            font-size: 1.911rem;
            font-weight: 400;
            line-height: 2.0027875;
            color: #aeafb6;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .rectangle-16-azs {
          background-color: #d9d9d9;
          background-position: center;
          background-image: url('REPLACE_IMAGE:ca03d2db7307a2f905233b6b395521e58deabdf1');
          flex-shrink: 0;
          border-radius: 0.7963rem;
          width: 52.1rem;
          height: 36.1rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
      .why-choose-us-gY7 {
        margin: 0rem 6.775rem 14.029rem 10rem;
        width: calc(100% - 16.7748rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .rectangle-16-zHu {
          width: 52.0753rem;
          background-size: 100% 100%;
          flex-shrink: 0;
          margin-right: 13.0499rem;
          height: 36.0705rem;
          background-color: #d9d9d9;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:087dc62a28bf40f5e01cafbdae4f726db85e2b6f');
          border-radius: 0.7963rem;
        }
        .auto-group-uwf5-6rj {
          flex-direction: column;
          flex-shrink: 0;
          display: flex;

          .why-choose-us-qZR {
            font-weight: 600;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1979rem;
            font-size: 2.8665rem;
          }
          .welcome-to-our-gym-where-fitness-meets-passion-and-every-drop-of-sweat-tells-a-story-of-dedication-our-gym-isnt-just-a-place-to-work-out-its-a-community-a-lifestyle-and-a-commitment-to-your-well-beingwe-are-committe-d-to-providing-a-safe-inclusive-and-inspiring-space-for-individuals-of-all-ages-and-fitness-levels-whether-youre-a-seasoned-gym-goer-or-just-starting-is-here-to-support-you-every-step-of-the-way-MXm {
            max-width: 54.1rem;
            font-size: 1.911rem;
            font-weight: 400;
            line-height: 2.0027875;
            color: #aeafb7;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .facilities-uhh {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 116rem 4rem 0rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #f5f5f5;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .facilities-list-aoq {
        width: 100%;
        height: 13.9rem;
        display: flex;
        column-gap: 5.2rem;
        align-items: center;
        flex-shrink: 0;

        .fitness-equipment-htT {
          display: flex;
          flex-direction: column;
          background-color: #1b1f3e;
          padding: 2.5rem 3.9rem 2.4rem 3.3rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          align-items: center;
          box-sizing: border-box;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .fitness-equipment-1-HLs {
            margin: 0rem 0rem 1rem 0.5rem;
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .fitness-equipment-Cyd {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #f5f5f5;
          }
        }
        .qualified-trainer-L4F {
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          align-items: center;
          flex-shrink: 0;
          padding: 2.5rem 5.3rem 2.4rem 5rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          background-color: #1b1f3e;
          border-radius: 0.5rem;

          .qualified-trainer-1-GCo {
            margin: 0rem 0rem 1rem 0.2rem;
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .qualified-trainer-zeb {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #f5f5f5;
          }
        }
        .individual-locker-uFm {
          overflow: hidden;
          background-color: #1b1f3e;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          padding: 2.5rem 5rem 2.4rem 4.5rem;

          .individual-locker-1-F4j {
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 1rem 0.6rem;
            width: 5rem;
          }
          .individual-locker-nKZ {
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .fully-secured-area-qod {
          box-sizing: border-box;
          padding: 2.5rem 3.9rem 2.4rem 3.8rem;
          height: 100%;
          position: relative;
          flex-direction: column;
          background-color: #1b1f3e;
          border-radius: 0.5rem;
          overflow: hidden;
          align-items: center;
          display: flex;
          flex-shrink: 0;

          .fully-secured-area-1-NHm {
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 1rem 0.2rem;
            width: 5rem;
          }
          .fully-secured-area-VtB {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #f5f5f5;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
