
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-tKq {
  width: 100%;
  height: 497.2rem;
  overflow: hidden;
  position: relative;
}
.home-tKq .gym-website-template-design-J8f {
  box-sizing: border-box;
  padding-top: 0.8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #090d28;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j {
  margin-bottom: 4rem;
  width: 100%;
  height: 71.8rem;
  position: relative;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .banner-image-38B {
  width: 144rem;
  height: 50rem;
  position: absolute;
  left: 0;
  top: 7.1rem;
  background-color: #1b1f3e;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .banner-image-38B .sport-girl-1-Mef {
  width: 35.9rem;
  height: 47.5rem;
  position: absolute;
  left: 92.7rem;
  top: 0.9rem;
  object-fit: cover;
  vertical-align: top;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .banner-image-38B .rectangle-5-43H {
  width: 144rem;
  height: 50rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .banner-image-38B .workout-with-me-ZEw {
  width: 39.7rem;
  height: 4.9rem;
  position: absolute;
  left: 23.2rem;
  top: 14.6rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2175;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .banner-image-38B .fasterstronger-fight-to-the-end-Coh {
  width: 39.8rem;
  height: 2.5rem;
  position: absolute;
  left: 23.2rem;
  top: 20.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .banner-image-38B .more-details-button-HaF {
  width: 15.8rem;
  height: 5.2rem;
  position: absolute;
  left: 23.2rem;
  top: 25.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 {
  box-sizing: border-box;
  padding-left: 4rem;
  width: 144rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #090d28;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .gym-logo-1-MyR {
  margin-right: 6.9rem;
  width: 12rem;
  height: 8rem;
  position: relative;
  background-size: 125.698% 190.678%;
  background-position: -1.743rem -2.5763rem;
  background-image: url('../assets/gym-logo-1.png');
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .home-RTV {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ea377b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .about-us-GDD {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .packages-Nn3 {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .shop-5Af {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .blog-REX {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .contact-us-L6b {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w {
  box-sizing: border-box;
  padding: 2rem 4rem 2rem 6.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .search-bar-MGb {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.8rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #1b1f3e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .search-bar-MGb .search-yxB {
  margin-right: 18.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #6c6c6f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .search-bar-MGb .search-outline-VvX {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .login-register-C4F {
  margin-right: 1.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .cart-icon-gEK {
  margin: 0.3rem 1.4rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem;
  height: calc(100% - 0.6rem);
  background-color: #1b1f3e;
  border-radius: 1.7rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .cart-icon-gEK .shopping-cart-outline-oJw {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .wishlist-icon-XVq {
  margin: 0.3rem 0;
  box-sizing: border-box;
  padding: 0.5rem;
  height: calc(100% - 0.6rem);
  background-color: #1b1f3e;
  border-radius: 1.7rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .header-5W7 .auto-group-gnsk-r4w .wishlist-icon-XVq .heart-GiK {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw {
  box-sizing: border-box;
  padding: 2.6rem 3rem;
  width: 114.4rem;
  height: 24.9rem;
  position: absolute;
  left: 14.8rem;
  top: 46.9rem;
  overflow: hidden;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  background-color: #ffffff;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .free-shipping-3Mh {
  box-sizing: border-box;
  padding: 2.5rem 1.9rem;
  width: 24.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ea377b;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .free-shipping-3Mh .shipping-icon-Y3Z {
  margin: 0rem 0.1rem 1rem 0rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .free-shipping-3Mh .free-shipping-EBH {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #090d28;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .free-shipping-3Mh .contrary-to-popular-belief-ipsum-is-simply-random-ZjM {
  max-width: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3575125;
  color: #4a4e68;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .instant-payments-QV5 {
  box-sizing: border-box;
  padding: 2.5rem 1.9rem;
  width: 24.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ea377b;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .instant-payments-QV5 .payment-icon-WY7 {
  margin: 0rem 0.1rem 1rem 0rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .instant-payments-QV5 .instant-payments-2WT {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #090d28;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .instant-payments-QV5 .contrary-to-popular-belief-ipsum-is-simply-random-yAo {
  max-width: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3575125;
  color: #4a4e68;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .exchange-return-rVV {
  box-sizing: border-box;
  padding: 2.3rem 0.95rem;
  width: 24.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ea377b;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .exchange-return-rVV .repeat-icon-LvT {
  margin: 0rem 0rem 1rem 0.1rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .exchange-return-rVV .exchange-return-5d9 {
  margin-bottom: 0.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3575125;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .exchange-return-rVV .contrary-to-popular-belief-ipsum-is-simply-random-yyR {
  max-width: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3575125;
  color: #4a4e68;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .customer-service-3iP {
  box-sizing: border-box;
  padding: 2.3rem 1.75rem;
  width: 24.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ea377b;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .customer-service-3iP .hours-icon-yc3 {
  margin: 0rem 0rem 1rem 0.1rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .customer-service-3iP .customer-service-VKV {
  margin-bottom: 0.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3575125;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-fuqk-x6j .shippingpaymentexchangeservice-section-Pnw .customer-service-3iP .contrary-to-popular-belief-ipsum-is-simply-random-24X {
  margin-left: 0.2rem;
  max-width: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3575125;
  color: #4a4e68;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .explore-our-dynamic-training-programs-2Tq {
  margin-left: 4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd {
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV {
  margin-bottom: 4rem;
  width: 100%;
  height: 51rem;
  display: flex;
  column-gap: 5rem;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-riaj-Z6P {
  width: 42rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-riaj-Z6P .yoga-rrB {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 7.9rem 10.1rem;
  width: 100%;
  height: 23.5rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-10-bg-8VD.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-riaj-Z6P .yoga-rrB .yoga-Q71 {
  width: 100%;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(74, 78, 104, 0.5500000119);
  border-radius: 0.5rem;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-riaj-Z6P .zumba-qTD {
  box-sizing: border-box;
  padding: 7.9rem 10.1rem;
  width: 100%;
  height: 23.5rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-10-bg-Tts.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-riaj-Z6P .zumba-qTD .zumba-8x7 {
  width: 100%;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(74, 78, 104, 0.5500000119);
  border-radius: 0.5rem;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-hcbh-Pd9 {
  width: 42rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-hcbh-Pd9 .fitness-Whm {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 7.9rem 10.1rem;
  width: 100%;
  height: 23.5rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-bg-AhM.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-hcbh-Pd9 .fitness-Whm .fitness-SLX {
  width: 100%;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(74, 78, 104, 0.5500000119);
  border-radius: 0.5rem;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-hcbh-Pd9 .workout-WrB {
  box-sizing: border-box;
  padding: 7.9rem 10.1rem;
  width: 100%;
  height: 23.5rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-bg-LG7.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-hcbh-Pd9 .workout-WrB .workout-Dkb {
  width: 100%;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(74, 78, 104, 0.5500000119);
  border-radius: 0.5rem;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-pjpq-eb1 {
  width: 42rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-pjpq-eb1 .cardio-aDm {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 7.9rem 10.1rem;
  width: 100%;
  height: 23.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-12-bg-AF1.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-pjpq-eb1 .cardio-aDm .cardio-v2j {
  width: 100%;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(74, 78, 104, 0.5500000119);
  border-radius: 0.5rem;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-pjpq-eb1 .bodybuilding-nqd {
  box-sizing: border-box;
  padding: 7.9rem 3.8rem;
  width: 100%;
  height: 23.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-12-bg.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .training-program-list-FbV .auto-group-pjpq-eb1 .bodybuilding-nqd .bodybuilding-YK1 {
  width: 100%;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(74, 78, 104, 0.5500000119);
  border-radius: 0.5rem;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-bYB {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-bYB .category-kR5 {
  margin-right: 105.2rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-bYB .see-all-emM {
  margin-top: 0.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq {
  margin-bottom: 4rem;
  width: 100%;
  height: 21rem;
  display: flex;
  column-gap: 5.2rem;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .protein-nutrition-Jqu {
  box-sizing: border-box;
  padding: 2rem 3.8rem 1.9rem 3.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .protein-nutrition-Jqu .protein-nutrition-2-cbh {
  width: 14.1rem;
  height: 14.1rem;
  position: relative;
  background-size: 151.111% 100%;
  background-position: -3.5163rem 0;
  background-image: url('../assets/protein-nutrition-2.png');
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .protein-nutrition-Jqu .protein-nutrition-JzK {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .sports-outfit-S4w {
  box-sizing: border-box;
  padding: 2rem 7.3rem 1.9rem 7.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .sports-outfit-S4w .sports-outfit-1-md1 {
  width: 14.1rem;
  height: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .sports-outfit-S4w .sports-outfit-HbM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .sports-bags-Bwd {
  box-sizing: border-box;
  padding: 2rem 8rem 1.9rem 7.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .sports-bags-Bwd .sports-bags-1-VxK {
  margin-left: 0.7rem;
  width: 14.1rem;
  height: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .sports-bags-Bwd .sports-bags-Scf {
  margin-right: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .gym-accessories-AYf {
  box-sizing: border-box;
  padding: 2rem 5rem 1.9rem 4.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .gym-accessories-AYf .gym-accessories-1-J95 {
  margin-left: 0.1rem;
  width: 14.1rem;
  height: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .category-list--yHq .gym-accessories-AYf .gym-accessories-Qxo {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-99h {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-99h .new-product-Gk7 {
  margin-right: 96.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-99h .see-all-DQT {
  margin-top: 0.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb {
  margin-bottom: 4rem;
  width: 100%;
  height: 53.9rem;
  display: flex;
  column-gap: 4.4rem;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .gym-t-shirt-cSb {
  box-sizing: border-box;
  padding: 5.2rem 8.7rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .gym-t-shirt-cSb .gym-t-shirt-1-jn7 {
  margin-bottom: 2rem;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .gym-t-shirt-cSb .gym-t-shirt-G1M {
  margin-bottom: 1.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .gym-t-shirt-cSb .item-25000-oX5 {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .gym-t-shirt-cSb .frame-4-WAb {
  margin: 0 0.8rem;
  width: calc(100% - 1.6rem);
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .half-sleeve-t-shirt-NCo {
  box-sizing: border-box;
  padding: 5.2rem 9.5rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .half-sleeve-t-shirt-NCo .half-sleeve-t-shirt-1-HqZ {
  margin: 0rem 0.1rem 2.1rem 0rem;
  width: 22.1rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .half-sleeve-t-shirt-NCo .half-sleeve-t-shirt-YmV {
  margin: 0rem 0.1rem 1.8rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .half-sleeve-t-shirt-NCo .item-30000-f5R {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .half-sleeve-t-shirt-NCo .frame-4-P1R {
  width: 100%;
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .sleeve-less-t-shirt-U2s {
  box-sizing: border-box;
  padding: 5.2rem 8.7rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .sleeve-less-t-shirt-U2s .sleeve-less-t-shirt-1-b7V {
  margin-bottom: 2rem;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .sleeve-less-t-shirt-U2s .sleeve-less-t-shirt-vvT {
  margin-bottom: 1.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .sleeve-less-t-shirt-U2s .item-30000-T9h {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .new-product-list-jtb .sleeve-less-t-shirt-U2s .frame-4-ZyR {
  margin: 0 0.8rem;
  width: calc(100% - 1.6rem);
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-1yq {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-1yq .trending-product-yQs {
  margin-right: 85.9rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-1yq .see-all-Wfh {
  margin-top: 0.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 {
  margin-bottom: 4rem;
  width: 100%;
  height: 53.9rem;
  display: flex;
  column-gap: 4.4rem;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .black-gym-bag-bBM {
  box-sizing: border-box;
  padding: 6.5rem 9.5rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .black-gym-bag-bBM .black-gym-bag-1-A7y {
  margin: 0rem 0rem 2rem 0.1rem;
  width: 22.5rem;
  height: 22.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .black-gym-bag-bBM .black-gym-bag-TMy {
  margin: 0rem 0.1rem 1.8rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .black-gym-bag-bBM .item-255000-Nzj {
  margin: 0rem 0rem 1.9rem 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .black-gym-bag-bBM .frame-4-swV {
  width: 100%;
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .best-gym-bag-wAf {
  box-sizing: border-box;
  padding: 6.5rem 9.5rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .best-gym-bag-wAf .best-gym-bag-1-CsH {
  margin: 0rem 0rem 2rem 0.3rem;
  width: 22.5rem;
  height: 22.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .best-gym-bag-wAf .best-gym-bag-JfR {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .best-gym-bag-wAf .item-30000-Cko {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .best-gym-bag-wAf .frame-4-iz3 {
  width: 100%;
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .sleeve-less-t-shirt-P4b {
  box-sizing: border-box;
  padding: 6.8rem 9.5rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .sleeve-less-t-shirt-P4b .shoulder-bag-1-6jh {
  margin: 0rem 0rem 2rem 0.1rem;
  width: 22.5rem;
  height: 22.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .sleeve-less-t-shirt-P4b .shoulder-bag-CXq {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .sleeve-less-t-shirt-P4b .item-30000-iWB {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-list-T59 .sleeve-less-t-shirt-P4b .frame-4-2mm {
  width: 100%;
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-sXV {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-sXV .popular-product-DrF {
  margin-right: 87.3rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .trending-product-sXV .see-all-AFh {
  margin-top: 0.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 {
  margin-bottom: 12.4rem;
  width: 100%;
  height: 53.9rem;
  display: flex;
  column-gap: 4.4rem;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .whey-protein-mexico-eAs {
  box-sizing: border-box;
  padding: 6.7rem 8.3rem 6.7rem 8.2rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .whey-protein-mexico-eAs .whey-protein-mexico-1-jy1 {
  margin: 0rem 0rem 1.97rem 0.1rem;
  width: 13rem;
  height: 22.1298rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .whey-protein-mexico-eAs .whey-protein-mexico-3Tu {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .whey-protein-mexico-eAs .item-255000-ayd {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .whey-protein-mexico-eAs .frame-4-4du {
  margin: 0rem 1.2rem 0rem 1.3rem;
  width: calc(100% - 2.5rem);
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .vegan-protein-powder-gQP {
  box-sizing: border-box;
  padding: 6.5rem 7.5rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .vegan-protein-powder-gQP .vegan-protein-powder-1-PZh {
  margin: 0rem 0.1rem 2rem 0rem;
  width: 22.5rem;
  height: 22.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .vegan-protein-powder-gQP .vegan-protein-powder-5SX {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .vegan-protein-powder-gQP .item-30000-Qzb {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .vegan-protein-powder-gQP .frame-4-L7Z {
  margin: 0 2rem;
  width: calc(100% - 4rem);
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .organic-protein-powder-kSB {
  box-sizing: border-box;
  padding: 6.7rem 6.5rem;
  width: 42.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .organic-protein-powder-kSB .organic-protein-powder-1-5DZ {
  margin: 0rem 0.3rem 2rem 0rem;
  width: 22.5rem;
  height: 22.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .organic-protein-powder-kSB .organic-protein-powder-Coy {
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .organic-protein-powder-kSB .item-30000-j3D {
  margin: 0rem 0rem 1.9rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .popular-product-list-6v3 .organic-protein-powder-kSB .frame-4-SyD {
  margin: 0 3rem;
  width: calc(100% - 6rem);
  height: 6.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea377b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .about-us-L31 {
  margin: 0rem 8.9rem 4rem 10.1rem;
  width: calc(100% - 19rem);
  height: 36.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .about-us-L31 .auto-group-f4du-3CK {
  margin: 1.2rem 10.8rem 0.7rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .about-us-L31 .auto-group-f4du-3CK .about-us-xaB {
  font-size: 2.8665rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .about-us-L31 .auto-group-f4du-3CK .welcome-to-our-gym-where-fitness-meets-passion-and-every-drop-of-sweat-tells-a-story-of-dedication-our-gym-isnt-just-a-place-to-work-out-its-a-community-a-lifestyle-and-a-commitment-to-your-well-beingwe-are-committe-d-to-providing-a-safe-inclusive-and-inspiring-space-for-individuals-of-all-ages-and-fitness-levels-whether-youre-a-seasoned-gym-goer-or-just-starting-is-here-to-support-you-every-step-of-the-way-Gqm {
  max-width: 54.1rem;
  font-size: 1.911rem;
  font-weight: 400;
  line-height: 2.0027875;
  color: #aeafb6;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .about-us-L31 .rectangle-16-azs {
  width: 52.1rem;
  height: 36.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16-bg-BR1.png');
  border-radius: 0.7963rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .why-choose-us-gY7 {
  margin: 0rem 6.775rem 14.029rem 10rem;
  width: calc(100% - 16.7748rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .why-choose-us-gY7 .rectangle-16-zHu {
  margin-right: 13.0499rem;
  width: 52.0753rem;
  height: 36.0705rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16-bg-fcB.png');
  border-radius: 0.7963rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .why-choose-us-gY7 .auto-group-uwf5-6rj {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .why-choose-us-gY7 .auto-group-uwf5-6rj .why-choose-us-qZR {
  margin-bottom: 1.1979rem;
  font-size: 2.8665rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .why-choose-us-gY7 .auto-group-uwf5-6rj .welcome-to-our-gym-where-fitness-meets-passion-and-every-drop-of-sweat-tells-a-story-of-dedication-our-gym-isnt-just-a-place-to-work-out-its-a-community-a-lifestyle-and-a-commitment-to-your-well-beingwe-are-committe-d-to-providing-a-safe-inclusive-and-inspiring-space-for-individuals-of-all-ages-and-fitness-levels-whether-youre-a-seasoned-gym-goer-or-just-starting-is-here-to-support-you-every-step-of-the-way-MXm {
  max-width: 54.1rem;
  font-size: 1.911rem;
  font-weight: 400;
  line-height: 2.0027875;
  color: #aeafb7;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-uhh {
  margin: 0rem 116rem 4rem 0rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq {
  width: 100%;
  height: 13.9rem;
  display: flex;
  column-gap: 5.2rem;
  align-items: center;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .fitness-equipment-htT {
  box-sizing: border-box;
  padding: 2.5rem 3.9rem 2.4rem 3.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .fitness-equipment-htT .fitness-equipment-1-HLs {
  margin: 0rem 0rem 1rem 0.5rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .fitness-equipment-htT .fitness-equipment-Cyd {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .qualified-trainer-L4F {
  box-sizing: border-box;
  padding: 2.5rem 5.3rem 2.4rem 5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .qualified-trainer-L4F .qualified-trainer-1-GCo {
  margin: 0rem 0rem 1rem 0.2rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .qualified-trainer-L4F .qualified-trainer-zeb {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .individual-locker-uFm {
  box-sizing: border-box;
  padding: 2.5rem 5rem 2.4rem 4.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .individual-locker-uFm .individual-locker-1-F4j {
  margin: 0rem 0rem 1rem 0.6rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .individual-locker-uFm .individual-locker-nKZ {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .fully-secured-area-qod {
  box-sizing: border-box;
  padding: 2.5rem 3.9rem 2.4rem 3.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1b1f3e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .fully-secured-area-qod .fully-secured-area-1-NHm {
  margin: 0rem 0rem 1rem 0.2rem;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-tKq .gym-website-template-design-J8f .auto-group-bwxm-LDd .facilities-list-aoq .fully-secured-area-qod .fully-secured-area-VtB {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #f5f5f5;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
